.promo-grid {
	display: flex;
	flex-wrap: wrap;
}

.promo-grid__item {
	width: 100%;

	@include breakpoint(medium up) {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		justify-content: center;
		width: 50%;
	}
}

.promo-grid__item--promo {
	order: -1; // Show promo items first on small screens

	@include breakpoint(medium up) {
		order: 0; // Reset default order
	}
}

