{#
	The Article Meta component is a set of social media and related links that appears on the Stories page.

	Uses 'info', 'share', 'taxonomies' object.
	hide_meta - if meta should be hidden
	show_share - if share buttons should be displayed
 #}

{% set info_desc = info.item %}

<div class="article-meta">
	{% if not hide_meta and info and info_desc.description %}
		<div class="article-meta__learn-more article-meta__section">
			<h3 class="article-meta__title article-meta__learn-more--title">{{ info.title }}</h3>

			{% include 'partials/info.twig' with { item: info.item } %}
		</div>
	{% endif %}

	{% if show_share %}
		<div class="article-meta__share-this article-meta__section">
			<h3 class="article-meta__title article-meta__share-this--title">{{ share.title }}</h3>

			{% include 'partials/share.twig' %}
		</div>
	{% endif %}

	{% if not hide_meta and function( 'array_filter', taxonomies.items ) %}
		<div class="article-meta__more-stories article-meta__section">
			<h3 class="article-meta__title">{{ taxonomies.title }}</h3>

			{% for terms in taxonomies.items %}
				{% include 'partials/tags.twig' with { items: terms, modifier_class: '' } %}
			{% endfor %}
		</div>
	{% endif %}
</div>
