{#
	The basic text component is used to restrict basic text styles.

	Note:
	Heading classes can be applied to any heading element to give it the correct size while keeping the correct semantic element.
	I.E. "I need an h3 but it has to look like an h4".

	.basic-text-h2
	.basic-text-h3
	.basic-text-h4
	.basic-text-h5
	.basic-text-h6


	Additional modifier classes:

	.basic-text-margin-sm : Bumps the bottom margin down by half.


	Needs 'content' which should be WYSIWYG content.
 #}

{% if content is empty %}
	{% set content = post.content %}
{% endif %}

{% if content %}
	<div class="basic-text">
		{{ content }}
	</div>
{% endif %}
