{#
	This is the Callout component. It contains a single field of text with character limit of 200.
#}
<div class="callout">
  <h2 class="callout__heading"> {{title|striptags|slice(0, 200) }}</h2>
</div>
