{#
	Card component rendered on single event page

	Needs 'item' object.

	Card object example:
	item : {
		title: '',
		place: {
			text : '',
			date : '',
		},
		info : {
			price : '',
			name : '',
			link : '#',
		},
		img : TimberImage( 'http://lorempixel.com/600/800/people/' )
	}

 #}

{% set title = item.title %}
{% set place = item.place %}
{% set info = item.info %}
{% set img = item.img %}

<div class="card">
	<div class="card__content-wrapper">

		{% if title %}
			<h1 class="card__heading">{{ title }}</h1>
		{% endif %}

		<div class="card__content-wrapper--bottom">
			{% if place.text or place.link %}
				<div class="card__column card__column1">

					{% if place.text %}
					<div class="card__info">
						{{ icons.map }}
						<span>{{place.text}}</span>
					</div>
					{% endif %}

					{% if place.date %}
					<div class="card__info">
						{{ icons.clock }}
						<span>{{place.date}}</span>
					</div>
					{% endif %}

				</div>
			{% endif %}

			<div class="card__column card__column2">

			{% if info.price %}
					<div class="card__info">
						{{ icons.coin_dollar }}
						<span>{{info.price}}</span>
					</div>
				{% endif %}

				{% if info.link|default() %}
					<div class="card__info">
						{{ icons.clipboard }}
						<a href="{{ info.link }}">{{ info.name ? info.name : info.link }}</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	{% if img %}
		<div class="card__image" style="background-image: url('{{ img.src | resize( 800, 600 ) }}')"></div>
	{% endif %}
</div>
