{#
	This is the Expandable Teaser component which appears at the top of the Donation page.
	It has a a title, text block, image and button.

	Needs 'item' or 'component' object.

	Expandable teaser example:
	item : {
		title: '',
		img_id : 0,
		desc : '',
		btn_text_open : '',
		btn_text_close : 'Close',
	}

 #}

{% set title = item.title ? item.title : component.title %}
{% set img_id = item.img_id ? item.img_id : component.img_id  %}
{% set img = TimberImage( img_id )  %}
{% set desc = item.desc ? item.desc : component.desc %}
{% set bg_color = item.bg_color ? item.bg_color : component.bg_color %}
{% set btn_text_open = item.btn_text_open ? item.btn_text_open : component.btn_text_open %}
{% set btn_text_close = item.btn_text_close ? item.btn_text_close : component.btn_text_close %}

{# Show only description excerpt, hide the rest #}
{% set description_visible = desc | excerpt(20) %}
{% set description_hidden = desc %}

{% set heading_level = heading_level|default(2) %}

<div class="exp-teaser {{ bg_color }}">
	<div class="exp-teaser__content-wrapper">

		{% if title %}
			<h{{heading_level}} class="exp-teaser__heading">{{ title }}</h{{heading_level}}>
		{% endif %}

		{% if description_visible %}
			<div class="exp-teaser__description">
				<div class="exp-teaser__description-visible">{{ description_visible }} </div>
				<div class="exp-teaser__description-hidden">{{ description_hidden }}</div>
			</div>

			<button data-toggle-class="is-visible" data-target=".exp-teaser" data-parent="true" class="exp-teaser__btn btn btn--outlined">
				<span class="open">{{ btn_text_open ? btn_text_open :  __('Read more', 'habitat') }}</span>
				<span class="close">{{ btn_text_close ? btn_text_close :  __('Close', 'habitat') }}</span>
			</button>
		{% endif %}
	</div>

	{% if img %}
	<div class="exp-teaser__image">
		<img src="{{ img.src | resize( 800, 400 ) }}" alt="{{ img.alt }}">
	</div>
	{% endif %}
</div>
