{#
	The footer is made up of the following components:
	- Site Logo
	- Site Search
	- Social Bar
	- Btn

	It also contains a footer menu and copyright blurb. These are subcomponents of the footer and are not reused anywhere.
#}

<footer role="contentinfo" class="footer">
	<div class="footer__over">
		<div class="footer__search">
			{% include "partials/site-search.twig" %}
		</div>

		<div class="footer__social footer-hide-small">
			{% include "partials/social-bar.twig" with {
				items: social_media
			} %}
		</div>

		{% if donate.url %}
			<div class="footer__donate">
				<a class="btn btn--donate footer__btn" href="{{ donate.url }}">{{ donate.text }}</a>
			</div>
		{% endif %}

		<div class="footer__copyright footer-show-small">
			<div class="footer__copyright-content">
				{% include "partials/footer-brands.twig" with {
					items: footer.brands
				} %}

				{#
					The copyright text is being escaped before it's passed into this file.
					We need to preserve the <p> tags included in the output so we pass it the raw filter.
				#}
				{{ footer.copyright|raw }}
			</div>
		</div>
	</div>

	<div class="footer__container">
		<div class="footer__content">
			<div class="footer__logo">
				{% include "partials/site-logo.twig" with {
					link: logo.link,
					class: 'site-logo--footer'
				} %}
			</div>

			<div class="footer__social footer-show-small">
				{% include "partials/social-bar.twig" with {
					items: social_media,
					classes: 'social-bar--footer social-bar--dark'
				} %}
			</div>

			<div class="footer__menu">
				{% include "partials/footer-menu.twig" with {
					items: footer_menu.items
				} %}
			</div>

			<div class="footer__submenu">
				{{ widgets.footer1 }}
			</div>
		<div class="footer__copyright footer-hide-small">
			<div class="footer__copyright-content">
				{% include "partials/footer-brands.twig" with {
					items: footer.brands
				} %}

				{#
					The copyright text is being escaped before it's passed into this file.
					We need to preserve the <p> tags included in the output so we pass it the raw filter.
				#}
				{{ footer.copyright|raw }}
			</div>
		</div>
	</div>
	</div>
</footer>
