<div class="footer-brands">
	{% for item in items %}
		{% set img = TimberImage( item.img_id ) %}
		{% if img.src %}
			<div class="footer-brands__item">
				{% if item.url %}
					<a href="{{ item.url }}" class="footer-brands__link">
						<img src="{{ img.src | resize( auto, 70, false ) }}" class="footer-brands__img" alt="{{ img.alt }}">
					</a>
				{% else %}
					<img src="{{ img.src | resize( auto, 70, false ) }}" class="footer-brands__img" alt="{{ img.alt }}">
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
</div>
