{#
	This is the form-cta component which appears on the home page.
	This component allows the user to toggle open and closed the different elements.
	There are three instances of this: Donate, Subscribe and Get Local.

	.form-cta--donate : Orange background and heart icon.
	.form-cta--participate : Red background and hand icon.
	.form-cta--subscribe : Blue background and inbox icon.

	var type : type of CTA

	Needs 'item' object.

	CTA object example:
	item : {
		type : '',
		title: '',
		text: '',
	}
#}

{% set type = item.type %}
{% set form_id = item.form_id %}
{% set title = item.title %}
{% set text = item.text %}

{# Set random number for wrapper ID, so there wouldn't be duplicated IDs #}
{% set random = random() %}
{% set wrapper_id = 'form-cta-'~ random %}

<div id="{{ wrapper_id }}" class="form-cta form-cta--{{ type }}">
	{% if title %}
		<h2 class="form-cta__heading">

			{% if type == 'donate' %}
				{{ icons.heart }}
			{% elseif type == "participate" %}
				{{ icons.hand }}
			{% elseif type == "subscribe" %}
				{{ icons.inbox }}
			{% endif %}

			<a href="#{{ wrapper_id }}" data-toggle-class="is-open" data-target="#{{ wrapper_id }}" class="form-cta__trigger">{{ title }}</a>

			<span class="form-cta__title">{{ title }}</span>
		</h2>
	{% endif %}

	<div class="form-cta__collapsible">
		<div class="form-cta__bottom">
			{% if text %}
				<div class="form-cta__text">
					{{ text }}
				</div>
			{% endif %}

			<div class="form-cta__form">
				{% filter shortcodes %}
					[gravityform id="{{ form_id }}" title="false" description="false" tabindex="false" ajax="true"]
				{% endfilter %}
			</div>
		</div>
	</div>
</div>
