{#
	There are two alternate Form CTAs: one for newsleter signup, the other for donations.

	.form-cta--donate : Orange background and heart icon.
	.form-cta--subscribe : Blue background and inbox icon. var type : type of CTA

	Needs 'item' or 'component' object.

	Form CTA full object example:
		item : {
			type : 'donate' or 'subscribe'
			title: '',
			text: '',
			form_id: '',
			link: '',
			link_text: '',
		}

 #}

{% set type = item.type ? item.type : component.type %}
{% set title = item.title ? item.title : component.title %}
{% set text = item.text ? item.text : component.text %}
{% set form_id = item.form_id ? item.form_id : component.form_id %}
{% set link = item.link ? item.link : component.link %}
{% set link_text = item.link_text ? item.link_text : component.link_text %}

{% if type == 'donate' %}
	{% set icon_type = 'heart' %}
{% elseif type == 'subscribe' %}
	{% set icon_type = 'inbox' %}
{% endif %}


<div class="form-cta-full form-cta--{{ type }}">
	{% if title %}
		<h2 class="form-cta-full__heading">
			{{ icons[icon_type] }}

			<span class="form-cta-full__title">{{ title }}</span>
		</h2>
	{% else %}
		<p class="form-cta-full__heading">
			{{ icons[icon_type] }}
		</p>
	{% endif %}

	<div class="form-cta-full__bottom">
		{% if text %}
			<div class="form-cta-full__text">
				{{ text }}
			</div>
		{% endif %}

		{% if form_id %}
			<div class="form-cta-full__form">
				{# Embed GF shortcode #}
				{% filter shortcodes %}
					[gravityform id="{{form_id}}" title="false" description="false" tabindex="false" ajax="true"]
				{% endfilter %}
			</div>
		{% endif %}

		{% if link %}
			<div class="form-cta-full__link">
				<a href="{{ link }}">{{ link_text }} {{ icons.arrowright }}</a>
			</div>
		{% endif %}
	</div>
</div>
