{#
	This is an individual instance of each CTA within the form-cta component.

	.form-cta--single : Blue background.
	.form-cta-single--apple-green : Green background.
	.form-cta-single--hot-orange : Orange background.
	.form-cta-single--stiletto-red : Red background.

	var type : type of CTA

	Needs 'item' object.

	CTA object example:
	item : {
		modifier_class : '',
		title: '',
		text: '',
		link: '',
		btn_text: '',
		suffix: '',
	}
#}

{% if modifier_class is empty %}
	{% set modifier_class = component.modifier_class ? component.modifier_class : item.modifier_class %}
{% endif %}
{% set title = item.title ? item.title : component.title %}
{% set text = item.text ? item.text : component.text %}
{% set link = component.link %}
{% set btn_text = item.btn_text ? item.btn_text : component.btn_text %}
{% set suffix = item.suffix ? item.suffix : component.suffix %}

<div class="form-cta-single {{ modifier_class }}">
	{% if title %}
		<h2 class="form-cta-single__heading">
			{{ icons.arrowright }}
			<span class="form-cta-single__title">{{ title }}</span>
		</h2>
	{% endif %}
	<div class="form-cta-single__bottom">

		<div class="form-cta-single__text">{{ text|raw }}</div>
		{% if link %}
			<a class="form-cta-single__btn" href="{{ link }}">{{ btn_text }}</a>
		{% endif %}

		{% if suffix %}
			<div class="form-cta-single__suffix">{{ suffix|raw }} </div>
		{% endif %}
	</div>
</div>
