{#
	The Form CTA Promo component uses the following components:
	Form CTA

	Needs 'item' object.

	Form CTA promo object example:
		item : {
			img_url : '',
			type : '',
			title: '',
			text: '',
		}
 #}

{% set img_url = item.img_url %}

<div class="form-cta-promo">
	{% if img_url %}
		<div class="form-cta-promo__img" style="background-image: url('{{ img_url }}')"></div>
	{% endif %}

	{# 'item' will be passed to form-cta #}
	{% include 'partials/form-cta.twig' %}
</div>
