{#
	The header is made up of the following components:
	- Site Logo
	- Site Search
	- Social Bar
	- Btn
	- Main Menu
	- Mobile Bar
#}

<header role="banner" class="header">
	<div class="header__left">
		{% include "partials/site-logo.twig" %}
	</div>

	<div class="header__mobile">
		{% include "partials/mobile-bar.twig" with {
			donate_url: donate.url
		} %}
	</div>

	<div class="header__right js-m-dropdown" id="header-m-dropdown">
		<div class="header__top-bar">
			<div class="header__search js-header-search" id="site-search">
				{% include "partials/site-search.twig" %}
			</div>

			<div class="header__social">
				{% include "partials/social-bar.twig" with {
					items: social_media
				} %}
			</div>
			{% if donate.url %}
				<div class="header__donate">
					<a class="btn btn--donate header__btn" href="{{ donate.url }}">{{ donate.text }}</a>
				</div>
			{% endif %}

			{% if lang_switcher %}
				<div class="header__lang-switcher">
					{% include "partials/lang-switcher.twig" with {
					} %}
				</div>
			{% endif %}
		</div>

		<div class="header__nav">
			{% include "partials/main-menu.twig" with {
				items: menu.items,
			} %}
		</div>
	</div>
</header>
