{# The hero is made up of two reusable components:
	 - Btn
	 - Video
	 It also contains an Image, a Title and a Description.

	 Needs 'item' object.

	Hero object example:
		item : {
			hide_hero: true / false,
			hero_type: 'post' / 'custom',
			hero_post_id: 0,
			video_url: 'https://www.youtube.com/embed/HJOUYnSZ3Is?autoplay=1&showinfo=0',
			img: TimberImage( 'http://lorempixel.com/1200/600/people/' ),
			url:'#',
			title: '',
			desc: 'Lorem Ipsum Dolor Ame Mauris Magna Elit, Moestie at Temport.',
			donate_color: true / false,
			btn_text: 'Call to action',
		}
#}

{# Get data from passed object #}
{% set hide_hero = item.hide_hero %}
{% set hide_hero_btn = item.hide_hero_btn %}
{% set type = item.hero_type %}
{% set post_id = item.hero_post_id %}
{% set video = item.video_url %}
{% set img = item.img %}
{% set url = item.url %}
{% set title = item.title ? item.title : post.title %}
{% set desc = item.desc %}
{% set donate_color = item.donate_color %}
{% set btn_text = item.btn_text %}

{# Default to h1 (heading level 1) if no heading level is supplied. #}
{% set heading_level = heading_level|default(1) %}

{# Set this to ensure, that there would always be proper h1 title for current page - either custom title or WP title #}
{% set default_title = title %}

{# If Hero type is post object, create TimberPost and pass data from it #}
{% if type == 'post' and post_id %}
	{% set hero_post = TimberPost( item.hero_post_id ) %}
	{% set img = hero_post.thumbnail %}
	{% set url = hero_post.link %}
	{% set title = hero_post.title %}
	{% set desc = hero_post.post_content | excerpt(10) %}

	{# Also decrease heading level to h2 #}
	{% set heading_level = 2 %}
{% endif %}

{# Set vars for a hero component in which the image field is empty. #}
{% if not img %}
	{% set modifier_class = ' hero--no-image ' ~ modifier_class %}
{% endif %}

{# Set different hero color if donate_color is true #}
{% if donate_color %}
	{% set modifier_class = ' hero--donate ' ~ modifier_class %}
{% endif %}

{# Set video layout #}
{% if video %}
	{% set modifier_class = ' hero--video ' ~ modifier_class %}
{% endif %}

{# Set hidden class, Hero code would still remain in source, but we hide it only visually (because of H1 heading) #}
{% if hide_hero %}
	{% set modifier_class = ' hero--hidden ' %}
{% endif %}


<article class="hero {{ modifier_class }}">
	{# Don't render video and images when Hero should be hidden, saves bandwidth #}
	{% if not hide_hero %}
		{% if video %}
			{% include "partials/video.twig" with {
				video: video,
				img: img
			} %}
		{% endif %}

		{% if not video and img %}
			<div class="hero__img">
				{% if url %}
					<a class="hero__img-link" href="{{ url }}">
						<img src="{{ img.src | resize( 1200, 600 )}}" alt="{{ img.alt }}">
					</a>
				{% else %}
					<img src="{{ img.src | resize( 1200, 600 ) }}" alt="{{ img.alt }}">
				{% endif %}
			</div>
		{% endif %}
	{% endif %}

	<div class="hero__content">
		{# Use hidden H1 title, when Hero is using TimberPost to get data (so heading_level is changed) #}
		{% if heading_level == 2 %}
			<h1 class="hero__heading hero__heading--hidden">
				{{ default_title }}
			</h1>
		{% endif %}

		{% if title %}
			<h{{ heading_level }} class="hero__heading">
				{% if url %}
					<a class="hero__link" href="{{ url }}">{{ title }}</a>
				{% else %}
					{{ title }}
				{% endif %}
			</h{{ heading_level }}>
		{% endif %}

		{% if desc %}
			<div class="hero__desc">{{ desc }}</div>
		{% endif %}

		{% if not hide_hero_btn %}
			{% if url %}
				<a href="{{ url }}" class="hero__btn btn btn--primary">{{ btn_text ? btn_text : __('Read more','habitat') }}</a>
			{% endif %}
		{% endif %}
	</div>

</article>

