{#
	This is the Info component. It displays an icon next to a link.
	Additional description text is optional. If no icon is specified, the info icon is used by default.

	Needs 'item' object.

	Info object example:
		item : {
			label: '',
			description : '',
			url : '#',
			icon: '',
		}

 #}

{% set description = item.description %}

{% if description %}
	<div class="info">
		<div class="info__description">{{ description }}</div>
	</div>
{% endif %}
