{# <?php #}
{#
	This is the language switcher, compatible with Polylang.

#}

{# We are using it on two places, so we need different wrapper IDs. #}
{% set lang_switcher_id = lang_switcher_id ? lang_switcher_id : 'lang-switcher-list' %}

<div class="lang-switcher">
	{% for item in lang_switcher if item.current_lang %}
		<button class="btn lang-switcher__btn" type="button" data-toggle-class="is-visible" data-target="#{{ lang_switcher_id }}">
			{{ item.flag }}
			<span class="lang-switcher__code">{{ item.slug }}</span>
		</button>
	{% endfor %}

	<div class="lang-switcher__container">
		<div class="lang-switcher__wrapper" id="{{ lang_switcher_id }}">
			<ul class="lang-switcher__list" >
				{% for item in lang_switcher if not item.current_lang %}
					<li class="lang-switcher__item">
						<a class="lang-switcher__link" href="{{item.url}}">
							{{ item.flag }}
							<span class="lang-switcher__code">{{ item.slug }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
