{# <?php #}
{#
	This is the main site menu. It expands to reveal subnavigation.
#}

{% set expand_btn_title = __('Expand submenu', 'habitat') %}

<nav class="main-menu" id="js-main-menu">
	<ul class="main-menu__list">
		{# First Level of menu items. #}
		{% for item in items %}
			{% if item.get_children %}
				{#
				We need to see how deep the menu goes.
				Set a temp variable that'll let us use it later to add a class.
				#}
				{% set superdeep = false %}
				{% for subitem in item.get_children %}
					{% if subitem.get_children %}
						{% set superdeep = true %}
					{% endif %}
				{% endfor %}
			{% endif %}

			{# If there are no subitems set a last-child class on the last menu item. #}
			{% set last_child = not item.get_children ? ' js-main-menu-last' %}
			<li class="main-menu__item js-main-menu-item main-menu__item--top {{ not superdeep ? 'main-menu__relative' }}">
				<div class="main-menu__link-wrapper">
					<a class="main-menu__link js-main-menu-link{{ last_child }}" href="{{ item.link }}">{{ item.title }}</a>

					{% if item.get_children %}
						<button class="main-menu__expand-sublist js-main-menu-expand-sublist" title="{{ expand_btn_title }}">
							<span class="main-menu__expand-sublist-icon"></span>
						</button>
					{% endif %}
				</div>

				{# Second Level of menu items. #}
				{% if item.get_children %}
					<div class="main-menu__container">
						{% if superdeep %}
							<ul class="main-menu__sub-list main-menu__sub-list-1">
						{% else %}
							<div class="main-menu__sub-list">
							<ul class="main-menu__sub-list-2">
						{% endif %}

							{% for subitem in item.get_children %}
								<li class="{{ superdeep ? 'main-menu__item--child' : 'main-menu__item--last' }}">
									{% if subitem.link %}
										<a class="{{ superdeep ? '' : 'main-menu__link-max' }}{{ not subitem.get_children and loop.last ? ' js-main-menu-last' }}" href="{{ subitem.link }}">{{ subitem.title }}</a>
									{% else %}
										<span class="{{ superdeep ? '' : 'main-menu__link-max' }}{{ not subitem.get_children and loop.last ? ' js-main-menu-last' }}">{{ subitem.title }}</span>
									{% endif %}

									{# Third Level of menu items. #}
									{% if subitem.get_children %}
										<ul class="main-menu__subsub-list">
											{% for subsubitem in subitem.get_children %}
												<li class="main-menu__item main-menu__item--last">
													<a class="main-menu__link-max{{ loop.last ? ' js-main-menu-last' }}" href="{{ subsubitem.link }}">{{ subsubitem.title }}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}

						{% if superdeep %}
							</ul>
						{% else %}
							</ul>
							</div>
						{% endif %}
					</div>
				{% endif %}
			</li>
		{% endfor %}
	</ul>

	{#
	On Tablets, add all items except for the first three
	to a expandable submenu.
	#}
	<div class="main-menu-ex">
		<button class="main-menu-ex__btn btn"
		data-toggle-class="is-visible"
		data-target=".js-menu-ex">{{ icons.bars }} {{ __( 'More', 'habitat' ) }}</button>
		<div class="main-menu-ex__container">
			<div class="main-menu-ex__wrapper js-menu-ex">
				<ul class="main-menu-ex__list">
					{# Return every item except the first three. #}
					{% for item in items|slice(3) %}
						<li class="main-menu-ex__item">
							<a class="main-menu-ex__link" href="{{ item.link }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</nav>
