{# <?php #}
{#
	The mobile bar controls the menu on smaller viewport widths.
	Only shown for smaller devices.
#}

<ul class="mobile-bar">
	<li class="mobile-bar__item">
		<a data-toggle-class="menu-is-visible" data-target=".js-m-dropdown" href="#header-m-dropdown" class="btn mobile-bar__btn mobile-bar__btn--bars">
			{{ icons.bars }}
			<span class="mobile-bar__text">{{ __( 'Menu', 'habitat' ) }}</span>
		</a>
	</li>

	<li class="mobile-bar__item">
		<a data-toggle-class="search-is-visible" data-target=".js-m-dropdown" href="#header-m-dropdown" class="btn mobile-bar__btn mobile-bar__btn--search">
			{{ icons.search }}
			<span class="mobile-bar__text">{{ __( 'Search', 'habitat' ) }}</span>
		</a>
	</li>

	{% if donate.url %}
		<li class="mobile-bar__item">
			<a href="{{ donate.url }}" class="btn mobile-bar__btn mobile-bar__btn--heart">
				{{ icons.heart }}
				<span class="mobile-bar__text">{{ donate.text }}</span>
			</a>
		</li>
	{% endif %}

	{% if lang_switcher %}
		<li class="mobile-bar__item">
			{% include "partials/lang-switcher.twig" with {
				lang_switcher_id: 'lang-switcher-list-mobile'
			} %}
		</li>
	{% endif %}
</ul>
