{# <?php #}
{#
	The Show More pager contains a single button, which links to some page.
#}

{% if btn_text is empty %}
	{% set btn_text = component.btn_text %}
{% endif %}

{% if btn_url is empty %}
	{% set btn_url = component.btn_url %}
{% endif %}

{% if btn_url %}
	<div class="pager pager--container pager--load-more">
		<a href="{{ btn_url }}" rel="next" class="pager__btn btn btn--secondary btn--large">
			{{ btn_text ? btn_text : __('Show more', 'habitat') }}
		</a>
	</div>
{% endif %}
