{# <?php #}
{#
	The Load More pager contains a single button, which load more posts with AJAX.
	This one is displayed on Events template and works with FacetWP plugin.
#}

<div class="pager pager--container pager--load-more js-fwp-pager">
	<div class="pager__loader js-fwp-loader">{{ __( 'Loading...', 'habitat' ) }}</div>

		<button class="pager__btn btn btn--secondary btn--large js-fwp-load-more">{{ __( 'Load more', 'habitat' ) }}</button>
</div>
