{# <?php #}
{#
	This is the Promo component which appears in two places on the home page.
	It has two configurations, one that is nearly square and one that is shorter and rectangular.

	.promo--short : Short version of the promo.

	Needs 'item' or 'component' object.

	Promo object example:
		item : {
			type: 'custom' or 'post',
			size: 'short' or 'large',
			post_id: 0,
			img_id : 0,
			title: '',
			url : '#',
			btn_text: 'Button text',
		}
#}

{% set type = item.type ? item.type : component.type %}
{% set size = item.size ? item.size : component.size %}
{% set post_id = item.post_id ? item.post_id : component.post_id %}
{% set img_id = item.img_id ? item.img_id : component.img_id  %}
{% set img = TimberImage( img_id )  %}
{% set title = item.title ? item.title : component.title %}
{% set url = item.url ? item.url : component.url %}
{% set btn_text = item.btn_text ? item.btn_text : component.btn_text %}

{% if type == 'post' and post_id %}
	{% set promo_post = TimberPost( post_id ) %}
	{% set img = promo_post.thumbnail %}
	{% set title = promo_post.title %}
	{% set url = promo_post.link %}
{% endif %}

{# Default to h2 (heading level 2) if no heading level is supplied. #}
{% set heading_level = heading_level|default(2) %}

{% if img %}
	<article class="promo promo--{{ size }}">
				<div class="promo__img">
					{% if url %}
						<a class="promo__img-link" href="{{ url }}">
							{% if size == 'short' %}
								<img src="{{ img.src | resize ( 704, 350 ) }}" alt="{{ img.alt }}">
							{% else %}
								<img src="{{ img.src | resize ( 704, 700 ) }}" alt="{{ img.alt }}">
							{% endif %}
						</a>
					{% else %}
						{% if size == 'short' %}
							<img src="{{ img.src | resize ( 704, 350 ) }}" alt="{{ img.alt }}">
						{% else %}
							<img src="{{ img.src | resize ( 704, 700 ) }}" alt="{{ img.alt }}">
						{% endif %}
					{% endif %}
				</div>

		<div class="promo__gradient"></div>

		<div class="promo__content">
			{% if title %}
				<h{{ heading_level }} class="promo__heading">
					<a class="promo__link" href="{{ url }}">{{ title }}</a>
				</h{{ heading_level }}>
			{% endif %}

			{% if url %}
				<a href="{{ url }}" class="promo__btn btn btn--primary">{{ btn_text ? btn_text : __('Read more', 'habitat') }}</a>
			{% endif %}
		</div>
	</article>
{% endif %}
