{#
	The listing component is used to display search results.
#}

<article class="listing">

	{% if post.title %}
		<h2 class="listing__heading" >
			<a href="{{ post.link }}">{{ post.title }}</a>
		</h2>
	{% endif %}

	{# Don't show excerpt from pages (it can have GF shortcodes)  #}
	{% if post.post_content and post.post_type != 'page' %}
		<div class="listing__body">
			{{ post.post_content|excerpt(30) }}
		</div>
	{% endif %}

</article>

