{% if secondary_nav %}
	<div class="header__secondary-nav" >
		<nav class="secondary-nav" id="js-secondary-nav">
			<ul class="secondary-nav__list" id="js-secondary-nav__list">

			{% for item in secondary_nav %}

				<li class="secondary-nav__item">
					<a class="secondary-nav__link" href="{{item.link}}">{{item.title}}</a>
				</li>

			{% endfor %}
			</ul>

  			<button class="secondary-nav__btn" id="js-secondary-nav__btn"> {{ icons.bars }}  {{__('More', 'habitat')}} </button>

  			<ul class='secondary-nav__hidden-links hidden' id="js-secondary-nav__hidden-links">
			</ul>
		</nav>
	</div>
{% endif %}
