{#
The section title component is used to denote a new section and can be used within multiple components.

- .section-title--flush - Modifier that provides a margin-less, padding-less container.

- .section-title--alt1 - Alternate display 1

- .section-title--alt2 - Alternate display 2

- .section-title--alt3 - Alternate display 3

	Needs 'item' or 'component' object.

	Section title object example:
	item:{
		modifier_class: '',
		title: 'Homepage section title',
		subtitle: 'This Is a Subtitle',
		desc: '',
	}
#}

{# Default to h2 (heading level 2) if no heading level is supplied. #}

{% set heading_level = heading_level|default(2) %}
{% set modifier_class = item.modifier_class ? item.modifier_class : component.modifier_class %}
{% set title = item.title ? item.title : component.title %}
{% set subtitle = item.subtitle ? item.subtitle : component.subtitle %}
{% set desc = item.desc ? item.desc : component.desc %}

{% if title or subtitle or desc %}
	<div class="section-title {{ modifier_class }}">

		{% if title %}
			<h{{ heading_level }} class="section-title__heading">{{ title }}</h{{ heading_level }}>
		{% endif %}

		{% if modifier_class != "section-title--alt1" and modifier_class != "section-title--alt2" and modifier_class != "section-title--alt3" %}

			{% if subtitle %}
				<h{{ heading_level + 1 }} class="section-title__sub">{{ subtitle }}</h{{ heading_level + 1 }}>
			{% endif %}

			{% if desc %}
				<p class="section-title__desc">{{ desc }}</p>
			{% endif %}

		{% endif %}
	</div>
{% endif %}
