{#
	Simple share buttons rendered in Article Meta.

	Needs 'items' object.
 #}

<div class="share">

	{# Set Share buttons and apply filter on it's content, so we can hook there with Monarch #}
	{% set social_share_content = '' %}

	{{ social_share_content|apply_filters('social_share_content', content)}}

</div>
