{#
	The site search is how the user searches throughout the site.
#}

<form class="site-search" action="{{ site.link }}">
	<div class="site-search__group">
		<label class="visually-hidden" for="site-search-input">{{ __( 'Looking for something?', 'habitat' ) }}</label>
		<input class="site-search__input" value="{{ search_string }}" placeholder="{{ __( 'Looking for something?', 'habitat' ) }}" required id="site-search-input" type="search" name="s">
	</div>

	<button class="site-search__btn btn" type="submit">
		{{ icons.search }}
		<span class="visually-hidden">{{ __( 'Looking for something?', 'habitat' ) }}</span>
	</button>
</form>
