{#
	This is the site logo. It's usually used within the header.
#}

<div class="site-logo {{class}}">
	<a class="site-logo__link" href="{{ site.link }}" rel="home">
	{% if site_logo  %}
		<img src="{{ site_logo }}" class="site-logo__img" alt="{{ site.title }}">
	{% else %}
		{{ icons.logo }}
	{% endif %}
	</a>
</div>
