{#
	This is the social bar. It contains links to different social media websites.

	.social-bar--dark : Modifier to make the buttons darker.
#}

{% if items %}

	{% set target_blank = 'target="_blank" rel="noopener noreferrer"' %}

	<div class="social-bar{{ ' ' ~ classes }}{{ ' ' ~ modifier_class }}">
		<button data-toggle-class="is-visible" data-target=".js-social-bar" class="btn social-bar__btn">
			{{ icons.share }}
		</button>

		<div class="social-bar__container">
			<div class="social-bar__wrapper js-social-bar">
				<ul class="social-bar__list">
					{% for item in items %}

						{% if item.url %}
							<li class="social-bar__item">
								<a class="social-bar__link {{ 'social-bar__link--' ~ item.icon }}" href="{{ item.url }}" {{ target_blank }}>
									{{ icons[item.icon] }}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endif %}
