{# <?php #}
{#
	The Table display is used to display event filters and list of filtered events.
	Uses FacetWP functionality.

	Table head object example:
	table_head : {
		items : ['Place', 'Date', 'Type'],
	}
#}

<div class="table-display">
	{% block filters %}

		{% include 'partials/table-filters.twig' %}

	{% endblock %}

	{% block table %}

		<table class="table-display__table" cellpadding="0" cellspacing="0">
			<thead class="table-display__head">
				<tr class="table-display__row table-display__row--head">
					{% for item in table_head.items %}
						<th class="table-display__column table-display__column--head" scope="col">
							{# <a href="#" title="{{ __( 'sort by', 'habitat' ) }} {{ item }}"> #}
								{{ item }}
							{# </a> #}
						</th>
					{% endfor %}
				</tr>
			</thead>

			{# FacetWP output would be rendered here #}
			<tbody class="facetwp-template">
				{% include 'partials/table-display-body.twig' %}
			</tbody>
		</table>

	{% endblock %}

	{% include 'partials/pager-fwp.twig' %}

</div>
