{# <?php #}
{#
	Rows in Table Display component.
	This partial is also rendered by FacetWP when event filters are used.
#}

{% for item in posts %}
	<tr class="table-display__row odd">
		<td class="table-display__column">
			<a href="{{ item.link }}">{{ item.title }}</a>
		</td>

		<td class="table-display__column">
			<div class="label">{{ __( 'Place:', 'habitat' ) }}</div>
			<div class="table-display__column--date">{{ item.terms('event_country')|join(', ') }}</div>
		</td>

		<td class="table-display__column">
			<div class="label">{{ __( 'Date:', 'habitat' ) }}</div>
			<div class="table-display__column--date">
				{# terniary conditional for empty string is needed, because otherwise current date would be used instead  #}
				{% set event_date_start = item.event_date is empty ? ""  : item.event_date|date('M d,Y') %}
				{% set event_date_end = item.event_date_end is empty ? ""  : item.event_date_end|date('M d,Y') %}

				{% if item.event_all_day %}
					{{ event_date_start }}
				{% elseif event_date_start and event_date_end %}
					{{ event_date_start }} - {{ event_date_end }}
				{% endif %}

			</div>
		</td>

		<td class="table-display__column">
			<div class="trip-icon--home-construction">
				<div class="label">{{ __( 'Type:', 'habitat' ) }}</div>
				<div class="table-display__column--type">{{ item.terms('event_type')|join(', ') }}</div>
			</div>
		</td>
	</tr>
{% endfor %}
