{# <?php #}
{#
	The Table filters are included above the table display.
	These filters are implemented via FacetWP plugin.
#}

<div class="table-filters">
	<h3 class="table-filters__header">{{ __( 'Show events from:', 'habitat' ) }}</h3>

	<div class="table-filters__form">
		{{ '[facetwp facet="event_type_filter"]' | shortcodes }}

		<hr class="hr--white">

		{{ '[facetwp facet="event_country_filter"]' | shortcodes }}
	</div>


</div>
