{#
	The tabs component can be used to display an unordered list as links or as a way to show and hide content.

	Stand alone tab styling can be used without JS or any tab content. However, in order for tabs and tab content to work, JS must be added. Add the class js-tabs to the wrapper if you'd like that functionality.

	Requires: dist/js/tabs.bundle.js


	Tabs object example:
	tabs : {
		item : {
			id : 'form',
			text : 'Event form',
			template_string : 'partials/table-display.twig',
			form_id : 0,
			classes: '',
		},
	}

 #}
{% if ( tabs ) %}
	<section class="tabs {{ modifier_class }} js-tabs">
		<ul class="tabs__list">
			{% for tab in tabs %}
				{% if tab.form_id or tab.events %}
					<li class="tabs__item {{ tab.classes }}">
						<a class="tabs__link" href="#{{ tab.id }}">{{ tab.text }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>

		{% for tab in tabs %}
			{% if tab.form_id or tab.events %}
				<section id="{{ tab.id }}" class="tabs__panel {{ tab.classes }}">
					{% if tab.template_string %}
						{% include tab.template_string ignore missing with {
							archive_teaser_posts : tab.events,
							grid_layout : 'l-three-up',
						} %}
					{% elseif tab.form_id %}
						{% filter shortcodes %}
							[gravityform id="{{ tab.form_id }}" title="false" description="false" tabindex="false" ajax="true"]
						{% endfilter %}
					{% endif %}
				</section>
			{% endif %}
		{% endfor %}
	</section>
{% endif %}
