{#
	This component appears anywhere tags are needed.

	.tags--centered : Tags that are center aligned.

	Needs 'items' object.

	Teaser object example:
			modifier_class: 'tags--centered / or emphy',
			items: '',

 #}

<div class="tags {{ modifier_class }}">
	{% for item in items %}
		<div class="tags__item">
			{% if item.link %}
				<a class="tags__item-padded" href="{{ item.link }}">
					{{ item.title|raw }}
				</a>
			{% else %}
				<span class="tags__item-padded">
					{{ item.title|raw }}
				</span>
			{% endif %}
		</div>
	{% endfor %}
</div>
