{# <?php #}
{#
	Needs 'item' object.

	Teaser Event object example:
		item : {
			modifier_class: 'teaser--sbs',
			grid_layout: '',
			img_id : 'http://lorempixel.com/600/800/people/' or image ID,
			url: '#',
			title: 'Chicago Habitat for Humanity with a Really Long Name',
			place:'',
			date: '',
			price: '',
			btn_text : 'Call to action',
			btn_class: '',
		}
#}

{% if modifier_class is empty %}
	{% set modifier_class = component.modifier_class ? component.modifier_class : item.modifier_class %}
{% endif %}

{% if grid_layout is empty %}
	{% set grid_layout = component.grid_layout ? component.grid_layout : item.grid_layout %}
{% endif %}

{% set img = item.thumbnail ? item.thumbnail : TimberImage( item.img_id )  %}
{% set url = item.url ? item.url : item.link %} {# TimberPost has `item.link`#}
{% set title = item.title %}

{% set place = item.card_place %}
{% set date = item.card_date %}
{% set price = item.card_cost %}

{% set btn_text = item.btn_text %}
{% set btn_class = item.btn_class %}
{% set target_blank = '' %}


{% set heading_level = heading_level|default(2) %}

<article class="teaser {{ modifier_class }} {{ grid_layout ~ '__col' }}">
	{% if img.src %}
		<div class="teaser__img">
			{% if url %}
				<a class="teaser__img-link" href="{{ url }}" {{ target_blank }}>
					<img src="{{ img.src | resize( img_size.0, img_size.1 ) }}" alt="{{ img.alt }}">
				</a>
			{% else %}
				<img src="{{ img.src | resize( img_size.0, img_size.1 ) }}" alt="{{ img.alt }}">
			{% endif %}
		</div>
	{% endif %}

	<div class="teaser__content">
		<h{{ heading_level }} class="teaser__heading">
			{% if url %}
				<a class="teaser__link" href="{{ url }}" {{ target_blank }}>{{ title }}</a>
			{% else %}
				{{ title }}
			{% endif %}
		</h{{ heading_level }}>

		<div class="teaser__event-info">
			{% if place %}
				<p class="teaser__event-desc">{{__('Where: ')}}  {{ place }} </p>
			{% endif %}
			{% if date %}
			<p class="teaser__event-desc">{{__('When: ')}}   {{ date }} </p>
			{% endif %}
			{% if price %}
			<p class="teaser__event-desc">{{__('Cost: ')}}  {{ price }} </p>
			{% endif %}
		</div>

		{% if url %}
			<a href="{{ url }}" class="teaser__btn btn btn--primary {{ btn_class }}" {{ target_blank }}>{{ btn_text ? btn_text : __( 'Read more', 'habitat' ) }}</a>
		{% endif %}

	</div>
</article>
