{# <?php #}
{#
	The teaser component promotes a piece of content and provides a call to action.

	Needs 'item' object.

	Teaser object example:
		item : {
			modifier_class: 'teaser--sbs',
			grid_layout: '',
			img_id : 'http://lorempixel.com/600/800/people/' or image ID,
			url: '#',
			title: 'Chicago Habitat for Humanity with a Really Long Name',
			excerpt : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, fugit, rem. Magni eius a, laborum dolore quisquam non, eligendi labore distinctio',
			file_size: 'pdf',
			file_type: '1MB',
			btn_text : 'Call to action',
			btn_class: '',
		}
#}

{% if modifier_class is empty %}
	{% set modifier_class = component.modifier_class ? component.modifier_class : item.modifier_class %}
{% endif %}

{% if grid_layout is empty %}
	{% set grid_layout = component.grid_layout ? component.grid_layout : item.grid_layout %}
{% endif %}

{% set img = item.thumbnail ? item.thumbnail : TimberImage( item.img_id )  %}
{% if item.img %}
	{% set img = TimberImage( item.img ) %} {# Fallback for Custom Teaser Grid component typo (instead of 'img_id', field is called 'img'...) #}
{% endif %}
{% set url = item.url ? item.url : item.link %} {# TimberPost has `item.link`#}
{% set title = item.title %}
{% set excerpt_number = excerpt_number ? excerpt_number : '10' %}
{% set excerpt = item.post_excerpt ? item.post_excerpt : item.post_content | excerpt(excerpt_number) %}
{% set desc = item.excerpt ? item.excerpt %} {# This is excerpt from custom item #}
{% set file_size = item.file_size %}
{% set file_type = item.file_type %}
{% set position = item.position %}
{% set email = item.email %}
{% set social = item.social ? item.social : item.meta('social_profiles') %}
{% set btn_text = item.btn_text %}
{% set btn_class = item.btn_class %}
{% set file_name = item.file_name %}
{% set target_blank = '' %}

{# Don't show url on Team members  #}
{% if item.post_type == 'team_member' %}
	{% set url = false %}
{% endif %}

{# Set external url for PRs and Partners, open it in new tab #}
{% if item.post_type == 'press_release' or item.post_type == 'partner' %}
	{% set url = item.custom_url %}
	{% set target_blank = 'target="_blank" rel="noopener noreferrer"' %}
{% endif %}

{# Set proper image size based on grid layout #}
{% if not item.img_size %}
	{% set img_size = function( 'habitat_teaser_image_size', grid_layout, modifier_class ) %}
{% endif %}

{% set heading_level = heading_level|default(2) %}

<article class="teaser {{ ' ' ~ modifier_class ~ ' ' ~ grid_layout ~ '__col' }}">
	{% if img and img.src != '' %}
		<div class="teaser__img">
			{% if url %}
				<a class="teaser__img-link" href="{{ url }}" {{ target_blank }}>
					<img src="{{ img.src | resize( img_size.0, img_size.1 ) }}" alt="{{ img.alt }}">
				</a>
			{% else %}
				<img src="{{ img.src | resize( img_size.0, img_size.1 ) }}" alt="{{ img.alt }}">
			{% endif %}
		</div>
	{% endif %}

	<div class="teaser__content">
		{% if title %}
			<h{{ heading_level }} class="teaser__heading">
				{% if url %}
					<a class="teaser__link" href="{{ url }}" {{ target_blank }}>{{ title }}</a>
				{% else %}
					{{ title }}
				{% endif %}
			</h{{ heading_level }}>
		{% endif %}

		{% if position or email %}
			<div class="teaser__team-info">
				<div class="teaser__team-position"> {{ position }} </div>
				<div class="teaser__team-email"> {{ email }} </div>
			</div>
		{% endif %}

		{% if excerpt %}
			<p class="teaser__desc">{{ excerpt }}</p>
		{% endif %}

		{% if desc %}
			<div class="teaser__editor-content">
				{{ desc }}
			</div>
		{% endif %}

		{% if file_size or file_type %}
			<div class="teaser__file-desc">
				<div class="teaser__file-size">{{ file_size }}</div>
				<div class="teaser__file-type">{{ file_type }}</div>
			</div>
		{% endif %}

		{% if social %}
			<div class="teaser__team-social">
				{% for social_item in social %}

					{% set social_name = social_item.social_media %}

					<a href="{{ social_item.url }}" class="btn--social" title="{{ social_name }}" target="_blank" rel="noopener noreferrer"> {{ icons[social_name] }}</a>
				{% endfor %}
			</div>
		{% endif %}


		{% if url %}

			{% if file_name %}

				<a download="{{ file_name }}" href="{{ url }}" class="teaser__btn btn btn--primary {{ btn_class }}" target="_blank" rel="noopener noreferrer">{{ btn_text }}</a>

			{% else %}

				<a href="{{ url }}" class="teaser__btn btn btn--primary {{ ' ' ~ btn_class }}" {{ target_blank }}>{{ btn_text ? btn_text : __( 'Read more', 'habitat' ) }}</a>

			{% endif %}

		{% endif %}

	</div>
</article>
