{#
	The video component for Hero contains a preview image with play icon. When clicked, video is opened in lightbox.

	video - youtube URL
	img - TimberImage object
#}

<figure class="video">
	<div class="video__img js-video">
		<a class="video__link js-video-play" href="{{ video }} " data-featherlight="iframe" data-featherlight-iframe-width="960" data-featherlight-iframe-height="540">
			{{ icons.play }}
			<picture>
				<source
						media="(min-width: 400px)"
						srcset="{{ img.src | resize( 1200, 600 ) }}">
				<source
						media="(max-width: 400px)"
						srcset="{{ img.src | resize( 300, 400 ) }}">
				<img src="{{ img.src | resize( 1200, 600 ) }}"
					 alt="{{ img.alt }}">
			</picture>
		</a>
	</div>
</figure>
