// ---
// Base Site Styles
// ---

// Keep it mobile first, yo! Read this:
// http://www.abookapart.com/products/mobile-first
// Actually, just buy all of those books.


// ---
// Main Site Content
// ---

.site-main-wrapper {
	@include grid-row;
	display: inline-block;
	width: 100%;
}

.js-ajax-posts {
	margin-top: rem-calc(20);
}
