{#
	Display Archive teaser grid flexible content.

	archive_teaser_posts - this should be Timber query and it is prepared in php
	grid_layout - one of our flex layout 'l-***-up'
	grid_classes - any other classes, which should be applied on main grid container like margins, paddings, ...
	teaser_type - to change default teaser.twig in the loop
#}

{# Set some helper vars #}
{% set three_col = "l-three-up" %}
{% set four_col = "l-four-up" %}
{% set four_colors = ""  %}
{% set three_plus_one = "three-one-fullwidth" %}
{% set four_plus_one = "four-one-fullwidth" %}

{% if grid_layout is empty %}
	{% set grid_layout = component.grid_layout %}
{% endif %}

{% if grid_classes is empty %}
	{% set grid_classes = component.grid_classes %}
{% endif %}

{% if show_ajax_pagination is empty %}
	{% set show_ajax_pagination = component.show_ajax_pagination %}
{% endif %}


{% if show_ajax_pagination %}
<div class="js-ajax-posts">
	{% endif %}

	{% if grid_layout == four_col or grid_layout == four_plus_one %}
		{% set four_colors = "l-grid--four-colors"  %}
	{% endif %}

	{#
	When grid have fullwidth item, we need to set proper grid_layout class and set item number, which should be fullwidth.
	#}
	{% if grid_layout == three_plus_one %}
		{% set item_number = 4|number_format %}
		{% set grid_layout = three_col %}
	{% elseif grid_layout == four_plus_one %}
		{% set item_number = 5|number_format %}
		{% set grid_layout = four_col %}
	{% endif %}

	<div class="{{ grid_layout }} {{ four_colors }} {{ grid_classes|join(' ') }} {{ show_ajax_pagination ? 'js-ajax-posts-loop' : '' }}">

		{% for item in archive_teaser_posts %}

		{# Set proper modifier_class when item is fullwidth #}
		{% if item_number and ( loop.index ) is divisibleby( item_number ) %}
			{% set modifier_class = 'teaser--sbs' %}
		{% else %}
			{% set modifier_class = '' %}
		{% endif %}

		{# If current item has post_id field, it means, that item should be post #}
		{% if item.post_id and item.item_type != 'custom' %}
			{# So create TimberPost from post_id and send it as item #}
			{% set item = TimberPost( item.post_id ) %}
		{% endif %}

		{% if item.post_type == 'event' %}
		{% include 'partials/teaser-event.twig' %}
		{% elseif teaser_type %}
		{% include 'partials/teaser-'~ teaser_type ~'.twig' ignore missing %}
		{% else %}
		{% include 'partials/teaser.twig' %}
		{% endif %}

		{% endfor %}

	</div>

	{% include 'partials/pager-custom.twig' %}

	{# Show ajax more button #}
	{% if show_ajax_pagination %}
	{% include 'partials/pager-ajax.twig' with { posts : archive_teaser_posts } %}

</div>
{% endif %}
