{#
	Article section is basically content section with meta sidebar.
	It has 2-column layout:
		Article Meta on the left
		Basic Text on the right

	This section is used for basic WP content and for Basic Text ACF Flexible component.
#}

{% set hide_meta = post.meta('hide_article_meta') %}
{% set show_share = post.meta('meta_share_buttons') %}

{% if content or post.content %}
	<div class="l-offset-2 l-padded l-padded--top l-padded--bottom">
		{% if not hide %}
				<div class="l-offset-2__left-column">
					{% include 'partials/article-meta.twig' with {
						info : {
							title : post.meta( 'meta_info_title' ),
							item : {
								description : post.meta( 'meta_content' ),
							},
						},
						share : {
							title : post.meta('meta_share_title') ? post.meta('meta_share_title') : __( 'Share this', 'habitat'),
						},
						taxonomies : {
							title : post.meta('meta_taxonomy_title') ? post.meta('meta_taxonomy_title') : __( 'More about', 'habitat'),
							items : {
								0 : post.terms('category') ? post.terms('category') : post.terms('event_country'),
								1 : post.terms('tag') ? post.terms('tag') : post.terms('event_type'),
							},
						}
					} %}
			</div>
	{% endif %}

		<div class="l-offset-2__right-column">
			<div class="l-offset-2__inner">
				{% include 'partials/basic-text.twig' %}
			</div>
		</div>
	</div>
{% endif %}
