{#
	Show Basic text flexible component.

	ACF component has all fields we need to pass to twig partial.
#}
{% set grid_layout = component.grid_layout ? component.grid_layout : '2' %}

<div class="l-offset-{{grid_layout }} l-padded l-padded--top l-padded--bottom">
	<div class="l-offset-{{grid_layout }}__right-column">
		<div class="l-offset-{{grid_layout }}__inner">
			{% include 'partials/basic-text.twig' with { content : component.content } %}
		</div>
	</div>
</div>

