{#
	Show Custom Teaser Grid flexible component.

	ACF component has all fields we need to pass to twig partial.
#}


{# Get relationship items (their field is called 'item') first and if they not exist, get custom items instead (field is called 'custom_items') #}
{% set items = items ? items : custom_items %}

{% include 'sections/archive-teaser-grid.twig' with {
	archive_teaser_posts: items,
} %}

