{#
	Show Donate Section with content (with form added) and sidebar.
#}

<div class="split-65-35 l-padded l-padded--top l-padded--bottom">
	<div class="split-65-35__left-column">

		{{ post.content }}

	</div>

	<div class="split-65-35__right-column">
		<section class="aside">

			{{ widgets.aside1 }}

		</section>
	</div>
</div>
