{# <?php #}

{% if grid_layout is empty %}
	{% set grid_layout = component.grid_layout %}
{% endif %}

{% if grid_classes is empty %}
	{% set grid_classes = component.grid_classes %}
{% endif %}

<div class="{{ grid_layout }} {{ grid_classes|join(' ') }}">

	{% for item in component.downloads %}

		{% set file_type = item.file.mime_type|split('/') %}

		{% include 'partials/teaser.twig' with {
			item : {
				grid_layout : component.grid_layout,
				img_id : item.img_id,
				url : item.file.url,
				title : item.title,
				excerpt : item.excerpt,
				file_size : '',
				file_type : file_type.1,
				btn_text : component.btn_text ? component.btn_text : __( 'Download', 'habitat' ) ,
				file_name: item.file.filename,
			}
		} %}

	{% endfor %}
</div>
