{#
	ACF Flexible Content loop

	Get Flexible content field and include section based on layout name along with some data/
	Pass component itself as well, so we can get it's subfields.
#}

{% for component in post.meta('layout_builder') %}
	{% include "sections/" ~ component.acf_fc_layout ~ ".twig" ignore missing with {
		items : component.items,
		component : component
	} %}
{% endfor %}
