{#
	Show Form CTA Single flexible component.

	ACF component has all fields we need to pass to twig partial.
#}

{% set position = item.position ? item.position : component.position %}
{% set wrapper = 'form-cta-single__wrapper ' ~ position|join(' ') %}

<div class=" {{ wrapper }} ">
	{% include 'partials/form-cta-single.twig' %}
</div>
