{#
	Show Promo Grid used on Homepage.

	ACF component has all fields we need to pass to twig partial.
#}


{% if post.meta('promo_grid') %}
	<section class="promo-grid">

		{#
		Get Flexible content field and choose between promo and form-cta component.
		#}
		{% for component in post.meta('promo_grid') %}

			{% set grid_item_type = component.acf_fc_layout %}

			<div class="promo-grid__item promo-grid__item--{{ grid_item_type }}">
				{% if grid_item_type == 'promo' %}

					{% include "partials/promo.twig" %}

				{% elseif grid_item_type == 'forms' %}

					{# Loop throug forms repeater, item object is passed and has all needed keys (type, form_id, title, text) #}
					{% for item in component.items %}
						{% include "partials/form-cta.twig" %}
					{% endfor %}

				{% endif %}
			</div>

		{% endfor %}

	</section>
{% endif %}



