{# <?php #}
{#
	Show section title and 3 posts related by taxonomy.
	This section is used on singular pages and is not used by ACF flexible fields.

	It uses archive-teaser-grid.twig, so we need to set proper grid_layout and archive_teaser_posts vars.
#}

{% if not post.hide_related_posts %}
	{% if related_posts %}
		{% include 'partials/section-title.twig' with {
			item : {
				title : post.related_posts_title ? post.related_posts_title : __('Related', 'habitat')
			}
		} %}
	{% endif %}

	{% include 'sections/related-posts-grid.twig' %}
{% endif %}
