{#
	Show 3 posts related by taxonomy.

	It uses archive-teaser-grid.twig, so we need to set proper grid_layout and archive_teaser_posts vars.
#}

{% set grid_layout = 'l-three-up' %}
{% set archive_teaser_posts = related_posts %}

{% include 'sections/archive-teaser-grid.twig' %}
