{#
	Show Subpages Grid flexible component.

	ACF component has all fields we need to pass to twig partial.
#}

{% include 'sections/archive-teaser-grid.twig' with {
	archive_teaser_posts: sub_pages,
	grid_layout : 'l-three-up',
} %}
