{# <?php #}

{% extends "base.twig" %}

{% block hero %}

{% endblock %}

{% block content %}

	{% include 'partials/section-title.twig' with { item: { title : __('404', 'habitat') } } %}

		<div class="l-padded l-padded--top l-padded--bottom text-center">
			<div class="404-content l-padded--bottom">

				{{ __( 'Sorry, nothing found.', 'habitat' ) }}

			</div>

			<div class="404-cta l-padded--top">
				<a href="{{ site.link }}" class="btn btn--secondary">{{ __( 'Go to Homepage', 'habitat' ) }}</a>
			</div>
		</div>
{% endblock %}
