{% extends "base.twig" %}

{% block content %}

	{% include 'sections/article-section.twig' %}

	{% if not post.archive_meta_hide %}

		{% include 'sections/archive-teaser-grid.twig' with {
			archive_teaser_posts : posts,
			grid_layout : post.archive_grid_layout ? post.archive_grid_layout : 'l-three-up',
			grid_classes : 'l-margin--top',
			show_ajax_pagination : true,
		} %}

	{% endif %}



{% endblock %}
