{% block html_head %}
	{% include 'partials/html-header.twig' %}
	{% block head %}
	{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}} l-center" data-template="base.twig">

	{# GTM #}
	{% if function('function_exists', 'gtm4wp_the_gtm_tag') %}
		{{ function('gtm4wp_the_gtm_tag') }}
	{% endif %}

	{% block header %}
		{% include 'partials/header.twig' %}
	{% endblock %}

	{% block breadcrumb %}
		{% if function('function_exists', 'bcn_display') %}
			{% if not is_front_page %}
				<nav class="breadcrumb">
					{{ function('bcn_display') }}
				</nav>
			{% endif %}
		{% endif %}
	{% endblock %}

	{% block secondary_navigation %}
		  {% include 'partials/secondary-navigation.twig'  %}
	{% endblock %}

	<main role="main" class="site-main">
		<div class="site-main-wrapper {{sidebar_class}}">
			{% block hero %}

				{% include 'partials/hero.twig' with {
					item:{
						hide_hero: post.meta('hide_hero'),
						hero_type: post.meta('hero_type'),
						hero_post_id: post.meta('hero_post_id'),
						video_url: post.meta('hero_video_url'),
						img: post.thumbnail,
						url: post.meta('hero_url'),
						title: post.meta('hero_title') ? post.meta('hero_title') : title,
						desc: post.meta('hero_desc'),
						donate_color: post.meta('hero_donate_color'),
						hide_hero_btn: post.meta('hero_hide_btn'),
						btn_text: post.meta('hero_btn_text'),
					}
				} %}

			{% endblock %}

			{% block content %}
				{{ __( 'Sorry, no content.', 'habitat' ) }}
			{% endblock %}

			{# Flexible content from ACF flexible field #}
			{% block flexible_content %}

				{% include "sections/flexible.twig" %}

			{% endblock %}
		</div>
		{% if sidebar %}
			<aside class="site-main-sidebar">
				{{sidebar}}
			</aside>
		{% endif %}
	</main>


	{% block footer %}
		{% include 'partials/footer.twig' %}
	{% endblock %}

	{{ function('wp_footer') }}

</body>
</html>
