
{# No specific markup for the home page, yet. Add it here inside a content block! #}

{% extends "page.twig" %}

{% block content %}

	{% include 'partials/section-title.twig' with {
		item:{
			title: post.section_title,
			subtitle: post.section_subtitle,
			desc: post.section_description,
		}
	} %}

	{% include 'sections/promo-grid.twig' %}

{% endblock %}
