{% extends "base.twig" %}

{% block content %}

	{% include 'sections/article-section.twig' %}

	{% include 'partials/section-title.twig' with {
		item:{
			title: post.section_title,
			subtitle: post.section_subtitle,
			desc: post.section_description,
		}
	} %}

	{% include "sections/archive-teaser-grid.twig" with {
		grid_layout : post.archive_grid_layout ? post.archive_grid_layout : 'l-three-up',
		archive_teaser_posts : posts,
		show_ajax_pagination : true,
	} %}


{% endblock %}
