{# <?php #}

{% extends "base.twig" %}

{% block hero %}
	{# No HERO #}
{% endblock %}

{% block content %}

	<h1 class="l-padded--top section-title__sub">
		{{ title }}
	</h1>

	{% if posts.get_posts %}

		{% set show_ajax_pagination = true %}

		{% if show_ajax_pagination %}
			<div class="js-ajax-posts">
		{% endif %}

				<div class="l-padded--top {{ show_ajax_pagination ? 'js-ajax-posts-loop' : '' }}">

					{% for post in posts %}

						{% include 'partials/search-list.twig' %}

					{% endfor %}

				</div>

		{% if show_ajax_pagination %}
				{% include 'partials/pager-ajax.twig' %}
			</div>
		{% endif %}
	{% else %}

		<div class="l-padded--top">
			{{ __('Your search did not match any page or document.', 'habitat') }}
		</div>


	{% endif %}

{% endblock %}


