{# <?php #}

{% extends "base.twig" %}

{% block hero %}
	{# Don't show hero on single event #}
{% endblock %}

{% block content %}

	{% include 'partials/card.twig' with {
		item : {
			title: post.title,
			place: {
				text : post.meta( 'card_place' ),
				date : post.meta( 'card_date' ),
			},
			info : {
				price : post.meta( 'card_cost' ),
				name : post.meta( 'card_register_name' ),
				link : post.meta( 'card_register_url' ),
			},
			img : post.thumbnail
		}
	} %}

	{% include 'sections/article-section.twig' %}

	{% include 'sections/related-posts-section.twig' %}

{% endblock %}
