{# <?php #}

{% extends "base.twig" %}

{% block content %}

	{% include 'sections/article-section.twig' %}

	{% include 'partials/tabs.twig' with {
		modifier_class : 'l-margin l-margin--top',
		table_head : {
			items : [ __('Name', 'habitat'), __('Place', 'habitat'), __('Date', 'habitat'), __('Type', 'habitat')],
		},
		tabs : {
			item : {
				id : 'featured',
				text : post.meta('featured_tab_title') ? post.meta('featured_tab_title') : __('Featured Events', 'habitat'),
				template_string : 'sections/archive-teaser-grid.twig',
				events : post.meta('featured_events_ids'),
			},
			item2 : {
				id : 'all',
				text : post.meta('all_events_tab_title') ? post.meta('all_events_tab_title') : __('All Events', 'habitat'),
				template_string : 'partials/table-display.twig',
				events : posts,
			},
			item3 : {
				id : 'form',
				text : post.meta('form_tab_title') ? post.meta('form_tab_title') : __('Event Form', 'habitat'),
				template_string : '',
				form_id : post.meta('event_form_id'),
			},
		}
	} %}

{% endblock %}
