.field-amount-radio {
	.gfield_description {
		padding-left: 0;
	}

	.gfield_radio {
		display: flex;
		flex-wrap: wrap;

		li {
			width: 32%;
			margin: 0;
			padding: 0.15rem 0.3rem;
			padding-left: 0;

			@include breakpoint(medium up) {
				width: auto;
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		.gform_choice_icon {
			display: none;
		}

		// This should be "other" field
		input[type=text] {
			max-width: 145px;
		}

		label {
			width: 100%;
			padding: 0.6rem 1rem;
			border: 3px solid $color-silver;
			border-radius: 3px;
			transition: border-color .25s ease, background-color .25s ease;

			.form-cta--donate & {
				border-color: $white;
				color: $white;
			}
		}

		input:checked + label,
		input:checked + input[type=text] {
			border-color: $color-pacific-blue;
			color: $white;
			background-color: $color-pacific-blue;

			.form-cta--donate & {
				border-color: $color-gallery;
				color: $color-hot-orange;
				background-color: $white;
			}
		}

		input:focus + label,
		input[type=text]:focus {
			box-shadow: $focus-box-shadow;
		}
	}
}
