
.gfield_checkbox_wrapper {
	padding-left: 0.5rem;

	.gfield_description {
		padding-left: 2.5rem;
	}
}

.gfield_checkbox {
	// Display choices in horizontal line
	.field-custom-radio & {
		display: flex;
	}

	li {
		position: relative;
		margin-right: 3rem;
		margin-bottom: 0.5rem;
	}

	label {
		position: relative;
		z-index: 2; // needs to be on top of radio icon
		padding-left: 2.5rem;
		cursor: pointer;
	}

	.gform_choice_icon {
		position: absolute;
		top: 2px;
		left: 0;
		overflow: hidden;
		width: 20px;
		height: 20px;
		border: 3px solid $color-silver;
		border-radius: 3px;
		transition: border-color .5s ease;

		&:before {
			opacity: 0;
			transition: opacity .5s ease;
		}
	}

	input:checked ~ .gform_choice_icon {
		border-color: $color-pacific-blue;
	}

	input:checked ~ .gform_choice_icon:before  {
		position: absolute;
		top: 50%;
		left: 1px;
		width: 100%;
		height: 100%;
		border-radius: 2px;
		content: "";
		background: url(../images/icons/check.svg) no-repeat 50%;
		opacity: 1;
		transform: translateY(-50%);
	}

	input:focus ~ .gform_choice_icon,
	input[type=text]:focus {
		box-shadow: $focus-box-shadow;
	}

	// hide visually but still make accessible
	input[type=checkbox] {
		@include element-invisible;
	}
}
