.gfield_radio_wrapper {
	padding-left: 0.5rem;

	.gfield_description {
		padding-left: 2.5rem;
	}
}

.ginput_container_radio {
	margin-top: 1rem;
}

.gfield_radio {
	// Display choices in horizontal line
	.gf_list_inline & {
		display: flex;
	}

	li {
		position: relative;
		margin-right: 3rem;
		margin-bottom: 0.5rem;

		.field-custom-radio & {
			margin-bottom: 0.2rem;
		}
	}

	label {
		position: relative;
		z-index: 2; // needs to be on top of radio icon
		padding-left: 2.5rem;
		cursor: pointer;
	}

	.gform_choice_icon {
		position: absolute;
		top: 2px;
		left: 0;
		width: 20px;
		height: 20px;
		border: 3px solid $color-silver;
		border-radius: 50%;
		transition: border-color .5s ease;

		&:before {
			background-color: $white;
		}
	}

	input:checked ~ .gform_choice_icon {
		border-color: $color-pacific-blue;
	}

	input:checked ~ .gform_choice_icon:before  {
		@include absolute-vertical-center;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		content: "";
		background-color: $black;
		transition: background-color .5s ease;
	}

	input:focus ~ .gform_choice_icon,
	input[type=text]:focus {
		box-shadow: $focus-box-shadow;
	}

	// hide visually but still make accessible
	input[type=radio] {
		@include element-invisible;
	}
}

