.gfield select {
	position: relative;
	z-index: 10;
	max-width: 100%;
	padding-right: 3.5rem;
	background: url(../images/icons/downarrow-full.svg) no-repeat 100%;
	transition: color .2s ease;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	.form-float-label & {
		color: transparent;
	}

	&::-ms-expand {
		display: none;
	}

	&[multiple=multiple] {
		background: none;
	}
}

.form-select--white {
	border: 3px solid $white;
	color: $white;
	background-image: url(../images/icons/downarrow--white.svg);

	&::-webkit-input-placeholder,
	&:-ms-input-placeholder,
	&::placeholder {
		color: $white;
		opacity: 1;
	}

	&:focus {
		border-color: $white;
		color: $white;
		background-color: #a4343a;
	}
}
