.gform_group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.validation_error {
		@include element-invisible;
	}

	.validation_message {
		display: block;
		padding: 0.5rem;
		border: 1px solid $color-error;
		background-color: lighten($color-error, 50%);
	}

	.ginput_container_radio {
		margin-top: 0;
	}

	.gfield {
		margin-bottom: 0;
	}

	.gfield_label {
		@include element-invisible;
	}
}
