// When form appears in .basic-text component,
// we need to overwrite list declarations
.basic-text .gform_wrapper {
	ul li {
		list-style-type: none;
	}
}

.gform_body {
	ul {
		@include reset-list; // Reset list style on all form lists
	}

	.gfield_label,
	label {
		@include clearfix;
		display: block;
		width: 100%;
		margin-bottom: 0.3rem;
		color: #464646;

		font-size: .9rem;
		transition: color .2s ease;

		.gfield_contains_required & {
			font-weight: 700;
		}

		.gfield_error:not(.is-disabled) & {
			color: $color-error;
		}
	}

	.is-focused .gfield_label {
		color: $color-pacific-blue;
	}
}

.gform_fields {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.gfield {
	width: 100%;
	margin-bottom: 1.5rem;

	@include breakpoint(medium up) {
		margin-bottom: 2rem;
	}

	&.gfield_html,
	&.gsection {
		margin-bottom: 0;
	}

	&.is-disabled {
		opacity: .5;
		cursor: not-allowed;
	}

	&.gf_left_half {
		width: 49%;
	}

	&.gf_right_half {
		width: 49%;
		margin-left: auto;
	}

	input[type=text],
	input[type=tel],
	input[type=url],
	input[type=email],
	input[type=number],
	select,
	textarea {
		vertical-align: middle;
		width: 100%;
		max-width: 100%;
		min-height: 51px;
		padding: .65rem 1rem;
		border: 3px solid $color-silver;
		border-radius: 3px;
		color: $color-tundora;
		background-color: $white;
		letter-spacing: .03em;
		line-height: 1.5;
		outline: none;
		transition: border-color .2s ease, color .2s ease;

		&:focus {
			border-color: $color-pacific-blue;
		}

		&::-webkit-input-placeholder {
			color: currentColor;
			opacity: 0.8;
		}

		&:-ms-input-placeholder {
			color: currentColor;
			opacity: 0.8;
		}

		&:-moz-placeholder {
			color: currentColor;
			opacity: 0.8;
		}

		&::placeholder {
			color: currentColor;
			opacity: 0.8;
		}
	}

}

.gfield.gfield_error:not(.field-amount-radio) {
	input[type=text],
	input[type=tel],
	input[type=url],
	input[type=email],
	select,
	textarea {
		border-color: $color-error;
	}
}

.gfield.is-disabled {
	label {
		cursor: not-allowed;
	}

	input[type=text],
	input[type=tel],
	input[type=url],
	input[type=email],
	select,
	textarea {
		border-color: $color-silver;
		cursor: not-allowed;
	}
}

.validation_error {
	margin: 1rem 0;
	color: $color-error;
}

.gfield_required {
	position: relative;
	top: 3px;
	float: left;
	width: 15px;
	height: 15px;
	margin-right: 0.4rem;
	color: $color-error;
	background: url( '../images/icons/asterisk.svg') center no-repeat;
	background-size: contain;
	text-indent: -9999px;
}

.gfield_description {
	margin-top: 0.5rem;
	font-style: italic;
	font-size: .8rem;

	&.validation_message {
		color: $color-error;
		font-size: .75rem;
	}
}

.gform_wrapper .gform_validation_container {
	display: none;
}

.ginput_complex {
	display: flex;
	flex-wrap: wrap;

	.name_first {
		width: 100%;

		@include breakpoint(medium up) {
			width: 49%;
		}
	}

	.name_last {
		width: 100%;

		@include breakpoint(medium up) {
			width: 49%;
			margin-left: auto;
		}
	}

	.ginput_full {
		display: block;
		width: 100%;
		margin-bottom: 1.5rem;

		@include breakpoint(medium up) {
			margin-bottom: 2rem;
		}
	}

	.ginput_left,
	.ginput_right {
		width: 49%;
	}

	.ginput_right {
		margin-left: auto;
	}
}
