
// ----
// Helper classes
// ----

// These are non-semantic classes for quick formatting. In theory, it's best to remove these for production, but you know, in theory.

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.text-align-center {
	text-align: center;
}

.text-align-justify {
	text-align: justify;
}


// I also like to have some spacer classes. Again, scoff at their non-semantic-ness if you feel like it, but I find them immensely useful, particularly when working within a CMS.
// Note that I use the $size-base unit from the sizing scale set in _variables.scss.

.spacer-top {
	margin-top: $global-margin;
}

.spacer-bot {
	margin-bottom: $global-margin;
}


.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	word-wrap: normal;

	&.focusable:active,
	&.focusable:focus {
		position: static !important;
		overflow: visible;
		width: auto;
		height: auto;
		clip: auto;
	}
}
