.article-meta {
	max-width: none;

	@include breakpoint(large up) {
		max-width: 800px
	}

	@include breakpoint(xlarge up) {
		max-width: 175px
	}
}

.article-meta__title {
	margin-bottom: .5rem;
	color: #6f7173;
	font-weight: 400;
	font-style: italic;
	font-size: .8rem;

	@include breakpoint(large up) {
		margin-bottom: 1rem;
		font-size: 1.1rem;
	}
}

.article-meta__section {
	margin-bottom: 1rem;

	@include breakpoint(large up) {
		margin-bottom: 2rem;
	}
}

.article-meta__more-link {
	display: inline-block;
	margin: 0 4px 4px 0;
	padding: 8px 18px;
	background-color: $color-alabaster;
	font-size: .9rem;
	line-height: 1.2;
}
