.basic-text,
.mce-content-body {
	h2,
	.basic-text-h2 {
		font-size: 1.9rem;
		line-height: 1.15;

		@include breakpoint(medium up) {
			font-size: 2.25rem
		}
	}

	h3,
	.basic-text-h3 {
		font-size: 1.6rem;
		line-height: 1.15;

		@include breakpoint(medium up) {
			font-size: 1.8rem
		}
	}

	h4,
	.basic-text-h4 {
		font-size: 1.2rem;
		line-height: 1.15;

		@include breakpoint(medium up) {
			font-size: 1.5rem
		}
	}

	h5,
	.basic-text-h5 {
		font-size: 1rem;
		line-height: 1.25;

		@include breakpoint(medium up) {
			font-size: 1.25rem
		}
	}

	h6,
	.basic-text-h6 {
		font-size: 1rem;
		text-transform: uppercase;

		@include breakpoint(medium up) {
			font-size: 1rem
		}
	}

	p {
		margin-bottom: 1rem
	}

	ul {
		margin-left: 1.15rem
	}

	ul li {
		margin-bottom: 0.5rem;
	}

	ol {
		margin-left: 1rem
	}

	ol li {
		margin-bottom: 1rem;
		list-style-type: decimal;
	}

	sup {
		vertical-align: super;
		margin: 0 .1rem;
	}

	sub {
		vertical-align: sub;
		margin: 0 .1rem;
	}

	.basic-text-margin-sm {
		margin-bottom: .5rem;
	}

}
