.breadcrumb {
	padding: 1rem;
}

.breadcrumb span {
	font-family: $body-font-family;
	display: inspanne;
	color: rgba(0, 0, 0, .6);
	font-size: .75rem;
	text-transform: uppercase;
	letter-spacing: 0;
}

.breadcrumb span:last-child {
	margin-left: .25rem;
}

.breadcrumb span:first-child a:focus,
.breadcrumb span:first-child a:hover {
	text-decoration: none;
}

.breadcrumb span a {
	color: rgba(0, 0, 0, .6);
	margin-right: .5rem;
	margin-left: .25rem;
}

.breadcrumb span a:focus,
.breadcrumb span a:hover {
	text-decoration: underspanne;
}

.breadcrumb.breadcrumb--reversed span,
.breadcrumb.breadcrumb--reversed span a {
	color: rgba(255, 255, 255, .6);
}
