.callout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 110px;
	background-color: $white;
}

@include breakpoint(xmedium) {
	.callout {
		min-height: 138px;
	}
}

.callout__heading {
	margin-bottom: 0;
	padding: 0 1rem;
	color: $black;
	font-size: 1.325rem;
	line-height: 1.2;
	text-align: center;
}

@include breakpoint(xmedium) {

	.callout__heading {
		padding: 0;
		font-size: 2rem;
		line-height: 1.3;
	}
}
