.card {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@include breakpoint(xmedium up) {
		flex-direction: row
	}
}

.card__image {
	display: block;
	order: 1;
	width: 100%;
	height: 300px;
	background-position: 50%;
	background-size: cover;

	@include breakpoint(xmedium up) {
		order: 2;
		width: 34.5%;
		height: auto;
	}
}

.card__content-wrapper {
	position: relative;
	display: block;
	order: 2;
	background-color: $color-stiletto-red;

	@include breakpoint(medium up) {
		padding-top: 1rem;
		padding-bottom: 2.5rem;
	}

	@include breakpoint(xmedium up) {
		order: 1;
		width: 65.5%
	}
}

.card__content-wrapper .breadcrumb {
	margin: 1.6875rem 0 0 1.75rem;

	@include breakpoint(xmedium up) {
		margin: 1.6875rem 0 0 3.125rem
	}
}

.card__heading {
	margin: 1rem 1.75rem;
	color: $white;
	font-size: 1.9rem;
	line-height: 1.2;

	@include breakpoint(medium up) {
		font-size: 2.25rem
	}

	@include breakpoint(xmedium up) {
		margin: 1rem 3.125rem
	}
}

.card__content-wrapper--bottom {
	display: flex;
	flex-direction: column;
	margin: 0 1.75rem;

	@include breakpoint(medium up) {
		flex-direction: row;
		margin: 1rem 0 0 3.125rem
	}
}

.card__column {
	margin-bottom: 1rem;
	color: $white;
	font-weight: 500;
	font-size: 1rem;

	@include breakpoint(medium up) {
		box-sizing: border-box;
		width: 45%;
		margin-bottom: 0;
		padding-right: 1rem;
	}

	@include breakpoint(xlarge up) {
		font-size: 1.1rem;
	}

	a {
		color: inherit
	}
}

.card__column2 {
	flex-direction: column;
	margin-bottom: 1.675rem;

	@include breakpoint(large up) {
		margin-bottom: 0
	}
}

.card__map-pin-icon {
	display: table-cell;
	width: 20px;
	padding-right: .5rem;

	@include breakpoint(xmedium up) {
		width: 35px;
		padding-right: 1rem;
	}
}

.card__address {
	display: table-cell;
	vertical-align: top;
	max-width: 200px
}

.card__address-link {
	display: block;
	font-size: rem-calc(14);
}

.card__email,
.card__website {
	margin-bottom: .5rem
}

.card__email,
.card__phone,
.card__website {
	white-space: nowrap;
}

// Icons
.card {
	.icon {
		display: inline-block;
		vertical-align: middle;
		margin-right: .5rem;
		fill: $white;
		width: 24px;
		height: 19px;
	}
}

