.pea_cook_wrapper.pea_cook_bottomright {
	right: 0 !important;
	bottom: 0 !important;
	width: 100%;
	margin-left: 0 !important;
}

.pea_cook_wrapper {
	width: 100% !important;
	padding: rem-calc(12) rem-calc(20) !important;
	border-radius: 0 !important;
	background-color: $color-black !important;

	p {
		text-align: left;

		@include breakpoint(medium) {
			text-align: center;
		}
	}
}

.pea_cook_btn {
	display: block !important;
	vertical-align: middle;
	margin: 0 auto !important;
	margin-top: rem-calc(10) !important;
	padding: .55em 1.2em !important;
	border: 3px solid $color-alto !important;
	border-radius: 3px !important;
	color: $secondary-color !important;
	background: $color-white !important;
	background-color: $color-white !important;
	font-weight: $global-weight-bold !important;
	font-size: rem-calc(12) !important;
	line-height: 1 !important;
	text-align: center !important;
	transition: background-color .25s ease-out, color .25s ease-out !important;
	cursor: pointer !important;

	@include breakpoint(medium) {
		display: inline-block !important;
		margin-top: 0 !important;
		margin-left: rem-calc(15) !important;
	}

	&:active,
	&:hover,
	&:focus {
		border-color: $color-silver !important;
		color: $primary-color !important;
		background-color: $color-white !important;
		text-decoration: none;
		transition: border-color .25s ease-out, color .25s ease-out !important;
	}

	&:hover,
	&:focus {
		background-color: $color-gallery !important;
	}

	&.is-disabled,
	&:disabled {
		border: 3px solid $color-silver !important;
		color: $color-tundora !important;
		background-color: $color-gallery !important;
		opacity: .5 !important;
		cursor: not-allowed !important;
	}
}
