.exp-teaser {
	position: relative;
	display: block;

	@include breakpoint(large up) {
		overflow: hidden;
		min-height: 325px;
	}

	@include breakpoint(large up) {
		min-height: 400px;
	}
}

.exp-teaser__content-wrapper {
	position: relative;
	z-index: 9;
	width: 100%;
	padding: 1.5rem;
	background-color: $color-hot-orange; // Default color
	transition: width .3s ease-in-out .3s, opacity .5s;

	@include breakpoint(large up) {
		width: 34%;
		min-width: 336px;
		min-height: 325px;
	}

	@include breakpoint(large up) {
		min-height: 400px;
		padding: 2rem;
	}

	.exp-teaser--midnight-blue & {
		background-color: $color-midnight-blue;
	}

	.exp-teaser--apple-green & {
		background-color: $color-apple-green;
	}

	.exp-teaser--stiletto-red & {
		background-color: $color-stiletto-red;
	}
}

.exp-teaser__description {
	overflow: hidden;
	max-height: 0;
	color: $white;
	transition: max-height .5s ease-out;

	@include breakpoint(xsmall up) {
		max-height: 1200px;
		color: $white;
		font-size: .875rem;
	}

	@include breakpoint(xlarge up) {
		font-size: 1rem;
	}

	a,
	a:link {
		color: $white;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.exp-teaser__heading {
	color: $white;
	font-size: 1.75rem;
	line-height: 1.1;

	@include breakpoint(large up) {
		font-size: 2rem;
	}

	@include breakpoint(xlarge up) {
		font-size: 2.25rem;
	}
}

.exp-teaser__description-visible {
	max-width: 850px;
	margin-bottom: 1rem;
}

.exp-teaser__description-hidden {
	overflow: hidden;
	color: $white;

	@include breakpoint(xsmall up) {
		max-height: 0;
		transition: max-height .25s ease;
	}

	p {
		max-width: 850px;
		margin-bottom: 1rem;
	}
}

.exp-teaser__btn {
	position: relative;
	width: 160px;
	height: 45px;
	margin-top: 1rem;
	padding: .35em 0;
	border-radius: 3px;

	&:focus,
	&:hover {
		background-color: rgba($color: #000000, $alpha: 0.3);
	}

	span {
		position: absolute;
		top: 12px;
		width: 160px;
		text-align: center;
	}

	.close {
		display: block;
		opacity: 0;
		transform: scale(0);
		transition: transform .3s ease-in-out, opacity .5s;
		transform-origin: center;
	}

	.open {
		display: block;
		opacity: 1;
		transform: scale(1);
		transition: transform .4s ease-in-out, opacity .2s;
		transform-origin: center;
	}
}

.exp-teaser__image {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	height: 100%;
	background-color: $black;

	@include breakpoint(large up) {
		display: block;
	}

	img {
		display: block;
		max-width: none;
		height: 100%;
	}
}

// Animations styles
.exp-teaser.is-visible .close {
	opacity: 1;
	transform: scale(1);
}

.exp-teaser.is-visible .open {
	opacity: 0;
	transform: scale(0);
}

.exp-teaser.is-visible {
	min-height: none;
}

.exp-teaser.is-visible .exp-teaser__content-wrapper {
	width: 100%;
	transition: width .3s ease-in-out;
}

.exp-teaser.is-visible .exp-teaser__description-visible {
	display: none;
}

.exp-teaser.is-visible .exp-teaser__description {
	max-height: 9999px;
}

.exp-teaser.is-visible .exp-teaser__description-hidden {

	@include breakpoint(xsmall up) {
		max-height: 9999px;
		transition: max-height .5s ease-in-out .25s;
	}
}
