.footer {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	margin-top: 2.5rem;

	@include breakpoint(medium up) {
		display: block;
	}
}

.footer__over {
	display: flex;
	flex-direction: column;
	order: 2;
	width: 100%;
	margin-left: auto;
	padding: 0 1.2rem 1rem;
	background-color: $black;

	@include breakpoint(medium up) {
		flex-direction: row;
		order: 1;
		width: auto;
		max-width: 580px;
		padding: 0;
		background-color: transparent;
	}

	@include breakpoint(large up) {
		max-width: 788px;
	}
}

.footer__search {
	flex: 1 1 auto;
	margin-bottom: 1rem;

	@include breakpoint(medium up) {
		margin-bottom: 0;
		margin-left: 3px;
	}
}

.footer__social {
	width: 100%;
	margin-bottom: 1rem;

	@include breakpoint(medium up) {
		flex: 0 0 auto;
		width: auto;
		margin-bottom: 0;
		margin-left: 3px;
	}
}

.footer__donate {
	display: none;

	@include breakpoint(medium up) {
		display: flex;
		flex: 0 1 20%;
		margin-left: 3px;
	}
}

.footer__btn {
	flex: 1 1 auto;
}

.footer__container {
	order: 1;
	padding: 1.3rem 1.2rem;
	background-color: $black;

	@include breakpoint(medium up) {
		order: 2;
		padding: 1.9rem 2rem;
	}
}

.footer__content {
	display: flex;
	flex-wrap: wrap;
	max-width: 1050px;
	margin: 0 auto;
}

.footer__logo {
	width: 100%;
	margin-bottom: 1.25rem;

	@include breakpoint(medium up) {
		width: 240px;
		margin-bottom: 0;
	}

	@include breakpoint(large up) {
		width: 260px;
	}
}

.footer__menu {
	flex: 1 1 auto;

	@include breakpoint(xsmall up) {
		width: 50%;
	}

	@include breakpoint(medium up) {
		flex: 1 1 calc(100% - 260px);
	}
}

.footer__submenu {
	flex: 2 1 auto;

	@include breakpoint(xsmall up) {
		width: 50%;
	}

	@include breakpoint(medium up) {
		flex: 0 1 auto;
		width: 230px;
		margin-right: 30px;
	}

	@include breakpoint(large up) {
		width: 280px;
		margin-right: auto;
		padding-right: 1rem;
	}
}

.footer__copyright {
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
	margin-top: 0.25rem;
	color: $color-oslo-gray;
	font-size: 0.65rem;
	letter-spacing: 0.05em;

	@include breakpoint(medium up) {
		flex: 1 1;
		font-size: 0.8rem;
	}

	p {
		margin-bottom: 0.5rem;
	}
}


.footer__copyright-content {
	max-width: 705px;
	margin-left: auto;
}

.footer-show-small {
	@include breakpoint(medium up) {
		display: none;
	}
}

.footer-hide-small {
	display: none;

	@include breakpoint(medium up) {
		display: block;
	}
}
