.footer-menu {
	@include breakpoint(medium up) {
		margin-top: 2.8rem;
	}

	@include breakpoint(large up) {
		margin-top: 4rem;
	}
}

.footer-menu__list {
	@include reset-list;
	display: flex;
	flex-direction: column;

	@include breakpoint(medium up) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	@include breakpoint(large up) {
		flex-wrap: nowrap;
		justify-content: flex-end;
	}
}

.footer-menu__link {
	display: block;
	padding: 0.3rem 1.25rem 0.3rem 0;
	color: $white;
	font-weight: 700;
	font-size: 0.8rem;
	letter-spacing: 0.05em;

	@include breakpoint(medium up) {
		padding: 0.3rem 1.25rem;
	}

	@include breakpoint(large up) {
		padding: 1rem 1.25rem;
	}
}
