.form-cta {
	position: relative;
	padding: 1.25rem 0;
	transition: background-color .25s cubic-bezier(.46, .03, .52, .96);

	@include breakpoint(large up) {
		max-width: 600px;
		padding: 2.75rem 0;

		.hero--orange & {
			padding: 0;
		}

		&.form-cta--b-pad {
			padding-bottom: 3.8rem;
		}
	}

	&:only-child {
		height: 100%;
	}

	// Some GF styles
	.gform_body {
		width: 100%;

		@include breakpoint(xsmall up) {
			float: left;
			width: 60%;
			margin-bottom: 0;
		}
	}

	.gform_footer {
		width: 100%;

		@include breakpoint(xsmall up) {
			float: left;
			width: 40%;
			margin-bottom: 0;
		}
	}
}

.form-cta--donate {
	background-color: $color-hot-orange;

	&.is-open {
		background-color: darken($color-hot-orange, 5%);
	}
}

.form-cta--participate {
	background-color: $color-stiletto-red;

	&.is-open {
		background-color: darken($color-stiletto-red, 5%);
	}
}

.form-cta--subscribe {
	background-color: $color-midnight-blue;

	&.is-open {
		background-color: darken($color-midnight-blue, 5%);
	}
}

.form-cta__heading {
	@include clearfix;
	position: relative;
	margin-bottom: 0;
	margin-left: 1rem;
	color: $white;
	font-size: 1.6rem;
	line-height: 1;

	@include breakpoint(large up) {
		display: block;
		width: auto;
		max-width: 430px;
		margin: 0 auto .6rem;
		font-size: 2.2rem;
	}

	@include breakpoint(xlarge up) {
		max-width: 380px
	}
}

.form-cta svg {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin-top: .1rem;
	margin-right: 1rem;
	fill: $white;

	@include breakpoint(xlarge up) {
		position: absolute;
		top: 0;
		left: -18%
	}

	@include breakpoint(large up) {
		width: 30px;
		height: 30px
	}

	@include breakpoint(xlarge up) {
		width: 45px;
		height: 45px
	}
}

.form-cta__bottom {
	max-width: 650px;
	margin: 1rem 1rem 0;

	.hero--donate & {
		margin: 0
	}

	@include breakpoint(large up) {
		max-width: 430px;
		margin: 0 auto
	}

	@include breakpoint(xlarge up) {
		max-width: 380px
	}
}


.form-cta__text {
	color: $white;
	font-size: 1rem;

	@include breakpoint(large up) {
		font-size: 1.15rem
	}
}

.form-cta__form {
	@include clearfix;
	position: relative;
	max-width: 450px;
	margin-top: 1.5rem;

	.hero--donate & {
		margin-top: 0
	}

	@include breakpoint(large up) {
		max-width: 400px;

		.form-cta--full & {
			max-width: none
		}
	}
}

.form-cta__form input[type=email],
.form-cta__form input[type=text],
.form-cta__form select {
	margin-bottom: 1rem;
	border-color: $white;
	border-radius: 0;
	color: $white;
	background-color: transparent;

	@include breakpoint(xsmall up) {
		margin-bottom: 0;
	}
}

.form-cta__form {
	select {
		background-image: url(../images/icons/downarrow-white.svg);
		transition: color .5s ease, background-color .5s ease;

		&:focus {
			color: inherit;
			background-color: $white;
			background-image: url(../images/icons/downarrow-gray.svg);
		}
	}
}

.form-cta__form {
	button,
	input[type=submit] {
		width: 100%;

		@include breakpoint(xsmall up) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0
		}
	}
}

.form-cta__title {
	display: none;

	@include breakpoint(xsmall up) {
		display: block;
	}
}

.form-cta__trigger {
	display: block;
	color: $white;

	@include breakpoint(xsmall up) {
		display: none
	}

	&:hover {
		color: $white
	}
}

.form-cta__collapsible {
	overflow: hidden;
	max-height: 0;
	transition: max-height .25s cubic-bezier(.46, .03, .52, .96);

	@include breakpoint(xsmall up) {
		max-height: none
	}

	.form-cta.is-open & {
		max-height: 1200px
	}
}


