.form-cta-promo {
	display: flex;
	flex-direction: column;

	@include breakpoint(xmedium up) {
		flex-direction: row;
	}

	.form-cta__collapsible {
		max-height: 9999em
	}

	.form-cta {
		flex: 1 1 60%;
		background-color: #a4343a;
	}

	.form-cta__btn {
		color: #a4343a
	}
}


.form-cta-promo__img {
	display: block;
	flex: 1 1 40%;
	height: 300px;
	background-position: 50%;
	background-size: cover;

	@include breakpoint(xmedium up) {
		height: auto;
		min-height: 100%
	}
}

