.form-cta-full {
	position: relative;
	padding: 1.25rem 0;
	transition: background-color .25s cubic-bezier(.46, .03, .52, .96);

	@include breakpoint(large up) {
		padding: 2.75rem 0
	}
}

.form-cta-full__heading {
	@include clearfix;
	position: relative;
	max-width: 88%;
	margin: 0 auto;
	color: $white;
	font-size: 1.6rem;
	font-family: Neue Haas Grotesk W01 Disp, Arial, sans-serif;
	line-height: 1;
	text-align: center;

	@include breakpoint(large up) {
		display: block;
		width: auto;
		margin: 0 auto .6rem;
		font-size: 2.2rem;
	}
}

.form-cta-full__heading svg {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto 1rem;
	fill: $white;
}

.form-cta-full__text {
	display: none;

	@include breakpoint(large up) {
		display: block;
		max-width: 77.5%;
		margin: 0 auto;
		color: $white;
		text-align: center;
	}
}

.form-cta-full__bottom {
	@include clearfix;
}

.form-cta-full__form {
	@include clearfix;
	position: relative;
	max-width: 90%;
	margin: 1.5rem auto;

	@include breakpoint(small up) {
		max-width: 80%;
	}

	@include breakpoint(large up) {
		max-width: 550px
	}

	input[type=email],
	input[type=text],
	select {
		border-color: $white;
		color: $white;
		background-color: transparent;
		text-align: center;

		&::-webkit-input-placeholder {
			color: currentColor;
			opacity: 0.8;
		}

		&:-ms-input-placeholder {
			color: currentColor;
			opacity: 0.8;
		}

		&:-moz-placeholder {
			color: currentColor;
			opacity: 0.8;
		}

		&::placeholder {
			color: currentColor;
			opacity: 0.8;
		}
	}

	select {
		background-image: url(../images/icons/downarrow-white.svg);
		transition: color .5s ease, background-color .5s ease;

		&:focus {
			color: inherit;
			background-color: $white;
			background-image: url(../images/icons/downarrow-gray.svg);
		}
	}
}


.form-cta-full__link {
	margin-top: 1rem;

	a {
		display: block;
		color: $white;
		text-align: center;
	}
}

.form-cta-full .icon-arrowright svg {
	width: 12px;
	height: auto;
	margin-bottom: rem-calc(-1);
	margin-left: .3rem;
	fill: $white;
}

.form-cta--donate .form-cta-full__form {
	text-align: center;

	@include breakpoint(large up) {
		max-width: none;
		margin: 1.5rem 0 0;
	}

	form {
		display: flex;
		justify-content: center;
	}

	.gform_footer {
		width: 100%;
		margin-top: 1rem;

		@include breakpoint(medium up) {
			width: auto;
			margin-top: 0;
		}
	}
}

.form-cta-full.form-cta--subscribe {
	input[type=email],
	input[type=text] {
		margin-bottom: 1rem;
		border-radius: 0;
	}

	.btn {
		@include breakpoint(xsmall up) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0
		}
	}
}
