.form-cta-single__wrapper{
	display: flex;
	margin: 1rem 0;

	&.left {
		justify-content: flex-start;
	}

	&.center {
		justify-content: center;
	}

	&.right {
		justify-content: flex-end;
	}

}

.form-cta-single {
	position: relative;
	padding: 1.25rem 0;
	color: $color-pacific-blue;
	background-color: currentColor;
	transition: background-color .25s cubic-bezier(.46, .03, .52, .96);

	@include breakpoint(large up) {
		display: block;
		padding: 2.75rem 0;
		min-width: 600px;

	}
}

.form-cta-single--apple-green {
	color: $color-apple-green;
}

.form-cta-single--hot-orange {
	color: $color-hot-orange;
}

.form-cta-single--stiletto-red {
	color: $color-stiletto-red;
}

.form-cta-single__heading {
	font-family: Neue Haas Grotesk W01 Disp, Arial, sans-serif;
	position: relative;
	font-size: 1.6rem;
	margin-left: 1rem;
	margin-bottom: 0;
	line-height: 1;
	color: $white;
}

.form-cta-single__heading:after {
	content: "";
	display: table;
	clear: both;
}

@include breakpoint(large up) {
	.form-cta-single__heading {
		font-size: 2.2rem;
		display: block;
		width: auto;
		max-width: 430px;
		margin: 0 auto .6rem;
	}
}

@include breakpoint(xlarge up) {
	.form-cta-single__heading {
		max-width: 380px
	}
}

.icon .form-cta-single__icon {
	display: block;
	float: left;
	margin-right: 1rem;
	margin-top: .1rem;
	width: 20px;
	height: 20px;
	fill: $white;

	@include breakpoint(xlarge up) {
		position: absolute;
		top: 0;
		left: -18%;
	}

	@include breakpoint(large up) {
		width: 30px;
		height: 30px;
	}

	@include breakpoint( xlarge up) {
		width: 45px;
		height: 45px;
	}

}

.form-cta-single__bottom {
	margin: 1rem 1rem 0;
	max-width: 650px;

	@include breakpoint(large up) {
		max-width: 430px;
		margin: 0 auto;
	}

	@include breakpoint(xlarge up) {
		max-width: 380px;
	}
}

.form-cta-single__text {
	color: $white;
	font-size: 1rem;

	@include breakpoint(large up) {
		font-size: 1.15rem;
	}
}

.form-cta-single__suffix {
	margin-top: 1.5rem;
	color: $white;
	font-size: 1rem;
}

.form-cta-single__suffix a,
.form-cta-single__suffix a:active,
.form-cta-single__suffix a:hover {
	color: $white;
}

.form-cta-single__btn {
	display: block;
	margin-top: 1.5rem;
	width: 100%;
	height: 52px;
	padding: 13px;
	background-color: $white;
	border: 0;
	border-radius: 2px;
	font-weight: 700;
	white-space: nowrap;
	cursor: pointer;
	text-align: center;
	color: currentColor;

	@include breakpoint(xsmall up) {
		display: inline-block;
		width: auto;
		padding: 13px 20px;
	}
}

.form-cta-single__btn:hover {
	color: currentColor;
	text-decoration: none;
	background-color: rgba(255, 255, 255, .85);
}
