.header {
	position: relative;
	z-index: 10;
	display: flex;

	@include breakpoint(medium up) {
		@include clearfix;
		display: block;
	}
}

.header__left {
	flex: 1 0 auto;
	background-color: $black;

	@include breakpoint(medium up) {
		float: left;
		width: 260px;
		background-color: transparent;
	}

	@include breakpoint(large up) {
		width: 300px;
	}
}

.header__right {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 50;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: $color-alabaster;

	@include breakpoint(medium up) {
		position: relative;
		top: auto;
		left: auto;
		display: block;
		float: left;
		width: calc(100% - 260px);
		background-color: transparent;
	}

	@include breakpoint(large up) {
		width: calc(100% - 300px);
	}
}

.header__top-bar {
	order: 2;

	@include breakpoint(medium up) {
		display: flex;
	}
}

.header__search {
	@include breakpoint(medium up) {
		flex: 1 1 auto;
		margin-left: 3px;
	}
}

.header__social {
	@include breakpoint(medium up) {
		flex: 0 0 auto;
		margin-left: 3px;
	}
}

.header__donate {
	display: none;

	@include breakpoint(medium up) {
		display: flex;
		flex: 0 1 20%;
		margin-left: 3px;
	}
}

.header__btn {
	flex: 1 1 auto;
}

.header__nav {
	@include breakpoint(medium up) {
		padding: 0.8rem 1rem 0;
	}

	@include breakpoint(xmedium up) {
		padding: 0.4rem 1rem 0;
	}

	@include breakpoint(large up) {
		padding: 1.85rem 1rem 0;
	}
}

// Hide on small screens
.header__lang-switcher {
	display: none;

	@include breakpoint(medium up) {
		display: flex;
		flex: 0 0 auto;
		margin-left: 3px;
	}
}

// Hide and animate on small screen, always show on bigger screens
.header__search,
.header__social,
.header__nav {
	overflow: hidden;
	width: 100%;
	max-height: 0;
	transition: max-height 0.5s cubic-bezier(.46, .03, .52, .96);

	@include breakpoint(medium up) {
		display: block;
		overflow: visible;
		width: auto;
		max-height: none;
	}
}

.header__right:target .header__search,
.search-is-visible .header__search,
.header__right:target .header__social,
.menu-is-visible .header__social,
.header__right:target .header__nav,
.menu-is-visible .header__nav {
	max-height: 80rem;
	transition: max-height 1s cubic-bezier(.46, .03, .52, .96);
}
