.hero {
	display: block;
	overflow: hidden;
	background-color: $color-silver;
}

.hero,
.hero__img {
	position: relative;
}

.hero__img img {
	display: block;
}

.hero__content {
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	padding: 1rem;
	background-color: $color-pacific-blue;
	transition: opacity 1.5s ease-out;

	.form-cta--donate {
		padding: 0;
		background-color: transparent;
	}
}

@include breakpoint(xmedium ) {

	.hero__content {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 34.5%;
		padding: 3rem;
	}
}

.hero--donate .hero__content {
	background-color: $color-hot-orange;
}

.hero__content>:last-child {
	margin-bottom: 0;
}

.video-is-active .hero__content {
	display: none;
	opacity: 0;
}

@include breakpoint(xmedium ) {

	.video-is-active .hero__content {
		display: block;
	}
}

.hero--no-image .hero__content {
	position: relative;
	width: 100%;
	padding: 1.5rem;
}

@include breakpoint(xmedium ) {

	.hero--no-image .hero__content {
		padding: 2.5rem;
	}
}

.hero__img-link {
	position: relative;
	z-index: 1;
	display: block;
	opacity: 1;
	transition: opacity 1.5s ease-out;
}

.hero__heading {
	margin-bottom: .5rem;
	color: $color-white;
	font-weight: 500;
	font-size: 2rem;
	font-family: Neue Haas Grotesk W01, Arial, sans-serif;
	line-height: 1.2;

	a {
		color: $color-white;
	}
}

@include breakpoint(xmedium ) {

	.hero__heading {
		font-size: 2.8rem;
		line-height: 1.1;
	}
}

.hero__heading--hidden {
	@include element-invisible;
}

.hero--no-image .hero__heading {
	max-width: 600px;
	margin: 0 auto;
}

@include breakpoint(xsmall ) {

	.hero--no-image .hero__heading {
		text-align: center;
	}
}

.hero__desc {
	margin-bottom: 1rem;
	color: $color-white;
	font-weight: 400;
	font-size: .8rem;
	font-family: Neue Haas Grotesk W01, Arial, sans-serif;
}

@include breakpoint(xmedium ) {

	.hero__desc {
		font-size: 1.2rem;
		line-height: 1.2;
	}
}

.hero--no-image .hero__desc {
	max-width: 600px;
	margin: .5rem auto 0;
}

@include breakpoint(xsmall ) {

	.hero--no-image .hero__desc {
		text-align: center;
	}
}

.hero__btn {
	display: block;
	max-width: 50%;
	margin: 0 auto;
}

@include breakpoint(xmedium ) {

	.hero__btn {
		display: inline-block;
		max-width: none;
		margin: 0;
	}
}

.hero--no-image .hero__btn {
	display: inline-block;
	margin: 0;
	margin-top: rem-calc(10);

	@include breakpoint(xsmall) {
		display: table;
		margin: 0 auto;
		margin-top: rem-calc(10);
	}

}

.hero--hidden {
	@include element-invisible;
}
