hr {
	border: 0;
	border-top: 1px solid $color-tundora;
}

.hr--hot-orange {
	border-top: 1px solid $color-hot-orange;
}

.hr--white {
	border-top: 1px solid $white;
}

.hr--mb {
	margin-bottom: 2rem;
}
