.info {
	display: inline-block;
	vertical-align: top;

	a:hover {
		text-decoration: none
	}
}

.info__label {
	vertical-align: middle;
	color: $color-pacific-blue;
	font-weight: 700;
}

.info__icon,
.info__label {
	display: inline-block;
}

.info__icon svg {
	vertical-align: middle;
	margin-right: .25rem;
	fill: $color-pacific-blue;
}

.info__description {
	display: block;
	max-width: 660px;
}
