.lang-switcher {
	position: relative;
}

.lang-switcher__btn {
	display: flex;
	align-items: baseline;
	height: 60px;
	background-color: $color-gallery;
	text-transform: uppercase;

	@include breakpoint(xsmall up) {
		height: 69px;
	}
	@include breakpoint(medium up) {
		height: 52px;
	}

	&:hover {
		background-color: darken($color-gallery, 10%);
	}
}

.lang-switcher__container {
	position: absolute;
	z-index: 85;
	width: 100%;
}

.lang-switcher__wrapper {
	overflow: hidden;
	max-height: 0;
	transition: max-height .5s ease;

	&.is-visible {
		max-height: 20rem;
		transition: max-height .8s ease-out;
	}
}

.lang-switcher__list {
	@include reset-list;
	overflow: hidden;
	padding: rem-calc(16) rem-calc(16);
	background-color: $color-alabaster;

	@include breakpoint(medium up) {
		padding: rem-calc(8);
		background-color: $color-gallery;
	}
}

.lang-switcher__code {
	display: none;

	@include breakpoint(medium up) {
		display: inline-block;
		margin-left: rem-calc(7);
	}
}

.lang-switcher__item {
	padding: rem-calc(10) 0;
	text-align: center;
	text-transform: uppercase;
}

.lang-switcher__link {
	display: flex;
	align-items: baseline;
	justify-content: center;
}
