.main-menu {
	position: relative;
	z-index: 82;
	padding: 0.5rem 1.1rem;

	@include breakpoint(medium up) {
		display: flex;
		justify-content: flex-end;
		max-width: 800px;
		margin: 0 auto;
		padding: 0;
	}

	@include breakpoint(xmedium up) {
		display: block;
	}
}

.main-menu__cloak {
	display: none;

	&.is-shown {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		display: block;
		width: 100%;
		height: 100%;
		cursor: text;
	}
}

.main-menu__list {
	@include reset-list;

	@include breakpoint(medium up) {
		display: flex;
		justify-content: space-between;
	}
}

.main-menu__item--top {
	@include breakpoint(medium up) {
		display: none; // Some menu items are hidden on smaller screens
	}

	@include breakpoint(xmedium up) {
		display: flex;
		align-items: flex-end;
		max-width: 100px;
		margin-right: 0;
	}

	+ .main-menu__item--top {
		@include breakpoint(medium up) {
			margin-left: 1.8rem;
		}

		@include breakpoint(xmedium up) {
			margin-left: 1rem;
		}
	}

	// Show only first 3 menu items on smaller screens
	&:nth-child(-n+3) {
		display: block;

		@include breakpoint(medium up) {
			display: flex;
			max-width: none;
		}
	}
}


.main-menu__link {
	display: block;
	padding: 0.6rem 0;
	font-size: 1rem;
	color: $color-black;

	@include breakpoint(medium up) {
		border-bottom: 9px solid transparent;
		font-size: 0.9rem;
		color: $color-tundora;
	}

	@include breakpoint(large up) {
		font-size: 1rem;
	}
}

.is-shown > .main-menu__link,
.main-menu__item:hover > .main-menu__link {
	@include breakpoint(medium up) {
		border-color: $color-rio-grande;
		color: inherit;
		text-decoration: none;
	}
}

.main-menu__item {
	&:hover {
		@include breakpoint(xmedium up) {
			// > .main-menu__link {
			// 	position: relative;
			// 	z-index: 10;
			// }
			//
			// > .main-menu__link:before {
			// 	position: absolute;
			// 	right: 73%;
			// 	bottom: -44px;
			// 	display: block;
			// 	width: 100px;
			// 	height: 60px;
			// 	content: "";
			// 	transform: rotate(-38deg);
			// }
			//
			// > .main-menu__link:after {
			// 	position: absolute;
			// 	bottom: -44px;
			// 	left: 73%;
			// 	display: block;
			// 	width: 100px;
			// 	height: 60px;
			// 	content: "";
			// 	transform: rotate(38deg);
			// }
		}

	}

	&:last-child:hover {
		// @include breakpoint(xmedium up) {
		// 	> .main-menu__link:after {
		// 		display: none;
		// 	}
		// }
	}
}

// First 3 menu items are bolder and bigger
.main-menu__item--top:nth-child(-n+3) .main-menu__link {
	color: $black;
	font-weight: $global-weight-bold;
	font-size: 1.1rem;

	@include breakpoint(large up) {
		font-size: 1.5rem;
	}
}

.main-menu__container {
	width: 100%;
	background-color: $color-gallery;
	padding: 15px;
	display: none;

	@include breakpoint(medium down) {
		.is-submenu-expanded & {
			display: block;
		}
	}

	@include breakpoint(xmedium up) {
		position: absolute;
		top: 100%;
		left: 0;
		display: block;
		padding: 0;
	}

	.main-menu__relative & {
		width: auto;
	}

	.main-menu__item--top:nth-child(n+4) & {
		right: 0;
		left: auto;
	}
}

.main-menu__link-wrapper {
	display: flex;
	justify-content: space-between;
}

.main-menu__expand-sublist {
	@include breakpoint(medium up) {
		display: none;
	}
}

.main-menu__expand-sublist-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url(../images/icons/downarrow-gray.svg);
	background-size: contain;
	transition: transform 0.25s ease-out;

	.is-submenu-expanded & {
		transform: rotate(180deg);
	}
}

.main-menu__relative {
	position: relative;
}

.main-menu__subsub-list {
	@include reset-list;
}

.main-menu__sub-list {
	@include reset-list;
	position: relative;
	z-index: 20;

	@include breakpoint(xmedium up) {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0s ease;
	}
}

.is-shown .main-menu__sub-list,
.main-menu__item:hover .main-menu__sub-list {
	@include breakpoint(xmedium up) {
		max-height: 400rem;
		transition: max-height 2s cubic-bezier(.46, .03, .52, .96);
	}
}

.main-menu__sub-list-1 {
	@include reset-list;
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;
}

.main-menu__sub-list-2 {
	@include reset-list;
	min-width: 160px;
	margin: 0;

	@include breakpoint(xmedium up) {
		margin: 1.4rem;
	}
}

.main-menu__item--child {
	margin-bottom: 15px;

	@include breakpoint(medium up) {
		max-width: 115px;
		margin: 1.4rem;
	}

	> a, span {
		display: block;
		margin-bottom: 0.5rem;
		color: $black;
		font-weight: $global-weight-bold;
		line-height: 1.2;
	}
}

.main-menu__link-max {
	display: block;
	color: $black;
	line-height: 1.4;
}

.main-menu__item--last {
	margin-bottom: 0.5rem;
}

// Only displayed for tablets
.main-menu-ex {
	display: none;

	@include breakpoint(medium up) {
		position: relative;
		display: block;
		margin-top: 2px;
		margin-left: 1rem;
	}

	@include breakpoint(xmedium up) {
		display: none;
	}
}

.main-menu-ex__container {
	@include breakpoint(medium up) {
		position: absolute;
		top: calc(100% - 10px);
		right: 0;
		z-index: 85;
		width: 150px;
	}
}


.main-menu-ex__wrapper {
	@include breakpoint(medium up) {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s ease;

		&.is-visible {
			max-height: 20rem;
			transition: max-height 0.8s ease-out;
		}
	}
}

.main-menu-ex__list {
	@include reset-list;

	@include breakpoint(medium up) {
		padding: 1rem;
		background-color: $color-gallery;
	}
}

.main-menu-ex__item {
	@include breakpoint(medium up) {
		margin-bottom: 0.5rem;
	}
}

// Button to extend hidden menu items
.main-menu-ex__btn {
	display: none;

	@include breakpoint(medium up) {
		display: block;
		// width: 103px;
		white-space: nowrap;
		color: $color-tundora;
		background-color: transparent;
		text-transform: uppercase;
		cursor: pointer;

		&:after {
			display: table;
			clear: both;
			content: "";
		}
	}

	.icon {
		display: inline-block;
		vertical-align: middle;
	}

	svg {
		max-width: 15px;
		height: 16px;
		max-height: 100%;
		margin-right: 0.5rem;
		fill: $color-tundora;
		transform-origin: center;
	}

	.icon-bars__bars {
		opacity: 1;
		transform: scale(1);
		transition: transform 0.4s ease-in-out, opacity 0.2s;
		transform-origin: center;
	}

	.icon-bars__x {
		opacity: 0;
		transform: scale(0);
		transition: transform 0.3s ease-in-out, opacity 0.5s;
		transform-origin: center;
	}

	&.is-active {
		background-color: $color-gallery;

		.icon-bars__bars {
			opacity: 0;
			transform: scale(0);
		}

		.icon-bars__x {
			opacity: 1;
			transform: scale(1);
		}
	}

}

.main-menu-ex__link {
	display: block;
	padding: 0.6rem 0;
	color: $black;
	line-height: 1.4;

	@include breakpoint(medium up) {
		padding: 0;
	}
}
