.mobile-bar {
	@include reset-list;
	display: flex;

	@include breakpoint(medium up) {
		display: none;
	}
}

.mobile-bar__item {
	flex: 0 1 60px;
}

.mobile-bar__btn {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;
	padding: 0.5em 0.8em;
	color: $color-oslo-gray;
	background-color: $color-gallery;
	text-transform: uppercase;

	@include breakpoint(xsmall up) {
		display: block;
		height: 69px;
		padding-right: 1em;
		padding-left: 1em;
	}

	&.is-active,
	&:active,
	&:hover {
		color: $color-tundora;
		background-color: $color-alabaster;
	}

	&.mobile-bar__btn--heart {
		color: $white;
	}

	.icon {
		display: block;
		width: auto;
		max-width: 100%;
		height: 26px;
		margin: 0 auto;
		fill: $color-tundora;
	}
}

.mobile-bar__btn--bars {
	.icon-bars {
		height: 18px;
		margin-top: 6px;
	}

	.icon-bars__bars {
		opacity: 1;
		transform: scale(1);
		transition: transform 0.4s ease-in-out, opacity 0.2s;
		transform-origin: center;
	}

	.icon-bars__x {
		opacity: 0;
		transform: scale(0);
		transition: transform 0.3s ease-in-out, opacity 0.5s;
		transform-origin: center;
	}

	&.is-active .icon-bars__bars {
		opacity: 0;
		transform: scale(0);
	}

	&.is-active .icon-bars__x {
		opacity: 1;
		transform: scale(1);
	}
}

.mobile-bar__btn--heart {
	background-color: $color-hot-orange;

	.icon {
		height: 23px;
		margin-top: 5px;
		fill: $white;
	}

	&:active,
	&:hover {
		background-color: darken($color-hot-orange, 10%);
	}
}

.mobile-bar__text {
	position: absolute;
	bottom: 8px;
	left: 0;
	display: none;
	width: 100%;
	font-size: 0.6rem;
	letter-spacing: 0.05em;
	text-align: center;

	@include breakpoint(xsmall up) {
		display: block;
	}
}
