.pager {
	position: relative;
	display: flex;
	overflow: hidden;
}

.pager--container {
	max-width: 300px;
	margin: 1rem auto;

	@include breakpoint(medium up) {
		max-width: none;
	}
}

.pager--load-more {
	position: relative;
	padding: 1rem 0;
	text-align: center;

	@include breakpoint(xsmall up) {
		padding: 2.5rem 0;
	}

	.btn {
		white-space: nowrap;
	}
}

.pager__btn {
	margin: 0 auto;
}

.pager__loader {
	position: relative;
	display: none;
	width: 1em;
	height: 1em;
	margin: 50px auto;
	border-radius: 50%;
	color: $primary-color;
	font-size: rem-calc(5);
	text-indent: -9999em;
	animation: icon-ajax-load 1.3s infinite linear;
	transform: translateZ(0);
}

// .pager__item--basic {
// 	position: relative;
// 	display: inline-block;
// 	width: 50px;
// 	height: 50px;
// 	background-color: rgba(0, 0, 0, .1);
// 	margin-right: .15rem;
// 	cursor: pointer;
// 	font-weight: 700
// }

// .pager__item--basic:hover {
// 	background-color: $color-pacific-blue
// }

// .pager__item--basic:hover a {
// 	color: $white;
// 	text-decoration: none
// }

// .pager__item--basic:hover svg {
// 	fill: $white
// }

// .pager__item--basic.is-active {
// 	background-color: #464646
// }

// .pager__item--basic.is-active a {
// 	color: $white
// }

// .pager__item--basic a {
// 	position: absolute;
// 	display: block;
// 	top: 50%;
// 	margin-top: -11px;
// 	width: 50px;
// 	height: 50px;
// 	text-align: center
// }

// .pager__item--basic svg {
// 	fill: $color-pacific-blue
// }

// .pager__item--previous svg {
// 	transform: rotate(180deg)
// }

// .pager__item--previous a {
// 	margin-top: -9px
// }

// .pager__item--next a {
// 	margin-top: -10px
// }
