.promo {
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 700px;
	height: 100%;
	min-height: 300px;
	max-height: 300px;

	@include breakpoint(medium up) {
		max-height: inherit;
	}
}

.promo__content {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding: rem-calc(15);
	background-color: $color-pacific-blue;
	transition: opacity 1.5s ease-out;

	@include breakpoint(medium up) {
		padding: 2.25rem;
	}
}

.promo__heading {
	vertical-align: bottom;
	margin-bottom: 0;
	line-height: 1.1;

	@include breakpoint(xmedium up) {
		max-width: 50%;
		font-size: 2.5rem;
		line-height: 1;
	}

	a {
		color: $white;
	}
}

.promo__btn {
	display: none;

	@include breakpoint(xsmall up) {
		display: inline-block;
		margin-top: 1rem;
	}
}

.promo__gradient {
	position: absolute;
	bottom: 0;
	z-index: 5;
	display: block;
	width: 100%;
	height: 50%;
	background: linear-gradient(0deg, rgba(0, 0, 0, .65) 0, transparent)
}

.promo__img {
	position: relative;
	max-width: 700px;
	height: 100%;
}

.promo__img img {
	@include breakpoint(medium up) {
		@include image-cover-simulation;
	}
}

.promo--short {
	min-height: 250px;

	.promo__btn {
		@include breakpoint(xmedium up) {
			display: inline-block;
			margin-left: rem-calc(20);
		}
	}

	.promo__heading {
		@include breakpoint(xmedium up) {
			display: inline-block;
		}
	}
}

