.listing {
	padding: 1rem 1.25rem 1.25rem;
}

.listing:nth-child(odd) {
	background-color: $color-alabaster;
}

.listing__heading {
	font-size: 1rem;
	margin-bottom: 0;
}

.listing__heading:after {
	content: "";
	display: table;
	clear: both;
}

@include breakpoint(medium) {
	.listing__heading {
		font-size: 1.25rem;
	}
}

.listing__body {
	margin-top: .25rem;
}

.listing__right {
	display: none
}

@include breakpoint(medium) {
	.listing__right {
		display: block;
		float: right;
		margin: .25rem 0 0 1rem;
		font-size: 1rem;
		font-weight: 500;
		font-style: italic;
	}
}

.listing__items {
	margin-top: .35rem;
	font-size: .9rem;
}
