.secondary-nav {
	position: relative;
	display: flex;
	align-items: center;
	height: rem-calc(40);
	background-color: $color-alabaster;
}

.secondary-nav__btn {
	display: none;
	align-self: stretch;
	padding: 0 1rem 0 1.5rem;
	border: 0;
	color: $color-tundora;
	background-color: $color-alto;
	font-weight: bold;
	font-size: 0.9rem;
	outline: 0;
	text-transform: uppercase;
	transition: all .4s ease-out;

	&.hidden {
		overflow: hidden;
		width: 0;
		padding: 0;
		transition: none;
	}


	.icon {
		display: inline-block;
		vertical-align: middle;
	}

	svg {
		max-width: 15px;
		height: 16px;
		max-height: 100%;
		margin-right: 0.5rem;
		fill: $color-tundora;
		transform-origin: center;
	}

	.icon-bars__bars {
		opacity: 1;
		transform: scale(1);
		transition: transform 0.4s ease-in-out, opacity 0.2s;
		transform-origin: center;
	}

	.icon-bars__x {
		opacity: 0;
		transform: scale(0);
		transition: transform 0.3s ease-in-out, opacity 0.5s;
		transform-origin: center;
	}

	&.is-active {

		.icon-bars__bars {
			opacity: 0;
			transform: scale(0);
		}

		.icon-bars__x {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.secondary-nav__list {
	@include reset-list;
	display: flex;
	flex: 1;
	overflow: hidden;
}

.secondary-nav__item {
	z-index: 3;
	flex: none;
	padding: 1rem;

	&::after {
		position: relative;
		display: inline-block;
		vertical-align: sub;
		width: 1px;
		height: auto;
		margin-left: rem-calc(15);
		padding: rem-calc(10) rem-calc(1);
		content: "";
		background-color: $color-silver;
	}

	&:last-child {
		margin-right: 0;

		&::after {
			width: 0;
			margin: 0;
			padding: 0;
			content: "";
		}
	}
}

.secondary-nav__link.active {
	color: $color-hot-orange;
}

.secondary-nav__hidden-links {
	@include reset-list;
	position: absolute;
	top: 98%;
	right: 0;
	z-index: 3;
	background-color: $color-alto;

	li {
		padding: 1rem;

		a {
			padding-right: 1rem;
			color: $color-tundora;
		}

		&::after {
			width: 0;
			margin: 0;
			padding: 0;
			content: "";
		}
	}

	&.hidden {
		display: none;
		visibility: hidden;
	}
}
