.section-title {
	margin: 2.3rem auto;
	padding-right: 1rem;
	padding-left: 1rem;
	text-align: center;
}

.section-title--flush {
	margin: 0;
	padding: 0;
}

.section-title__heading {
	margin-bottom: 1.2rem;
	color: $black;
	font-size: 2.25rem;
	line-height: 1;
}

@include breakpoint(medium) {

	.section-title__heading {
		font-size: 3rem;
	}
}

.section-title--alt1 .section-title__heading {
	margin-bottom: 1rem;
	color: $color-hot-orange;
	font-size: 1.6rem;
	line-height: 1;
	text-align: left;
}

@include breakpoint(medium) {

	.section-title--alt1 .section-title__heading {
		font-size: 1.8rem;
	}
}

.section-title--alt2 .section-title__heading {
	margin-bottom: 1rem;
	color: $color-hot-orange;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1;
	text-align: left;
}

@include breakpoint(large) {

	.section-title--alt2 .section-title__heading {
		font-size: 1.5rem;
	}
}

.section-title--alt3 .section-title__heading {
	margin-bottom: 1rem;
	color: $color-hot-orange;
	font-size: 1rem;
	line-height: 1;
	text-align: left;
}

@include breakpoint(medium) {

	.section-title--alt3 .section-title__heading {
		font-size: 1.25rem;
	}
}

.section-title__sub {
	margin-bottom: 1rem;
	color: $color-tundora;
	font-size: 1.9rem;
	line-height: 1;
}

@include breakpoint(medium) {

	.section-title__sub {
		font-size: 2.25rem;
	}
}

.section-title__desc {
	margin-bottom: .95rem;
	color: $color-oslo-gray;
	font-weight: 500;
	font-size: 1.13rem;
}

.section-title--alt1,
.section-title--alt2 {
	margin-top: 1rem;
	padding: 0;
}
