.share {
	display: inline-block;
	width: 100%;
	margin-bottom: .75rem;
	white-space: nowrap;
	font-weight: 700;
	font-size: 1.1rem;
	text-align: center;

	.et_social_inline_top {
		margin-bottom: 0;
	}

	// Monarch plugin override
	div.et_social_networks {
		.et_social_icons_container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			text-align: center;
		}


		li:nth-child(n) { // Selector specificity increased!
			margin: 0;
			margin-top: rem-calc(10);
			margin-right: rem-calc(10);

			@include breakpoint(medium) {
				width: rem-calc(200);
				margin-top: rem-calc(10);
				margin-right: rem-calc(15);
			}

			@include breakpoint(large) {
				width: 100%;
				margin-right: 0;
			}

			&:nth-child(n+2) {
				@include breakpoint(xsmall down) {
					margin-right: rem-calc(10);
				}
			}

			&:nth-child(-n+2) {
				margin-top: rem-calc(10);
			}

			&:last-child {
				@include breakpoint(xsmall down) {
					margin-right: 0;
				}
			}
		}

	}

}
