.site-search {
	display: flex;

	svg {
		display: block;
		width: auto;
		max-width: 100%;
		height: 19px;
		margin: 0 auto;
		fill: $white;
	}
}

.site-search__btn {
	width: 52px;
	height: 52px;
	background-color: $color-tundora;

	&:hover {
		background-color: rgba(70, 70, 70, .85);
	}
}

.site-search__group {
	display: flex;
	flex: 1 1 auto;
}

.site-search__input {
	width: 100%;
	padding-left: rem-calc(15);
	border: 0;
	border-radius: 0;
	background-color: $color-gallery;
	cursor: pointer;

	.footer__search & {
		color: $white;
		background-color: $color-tundora;

		@include breakpoint(medium up) {
			color: $color-tundora;
			background-color: $color-gallery;
		}
	}
}
