.site-logo {
	display: block;
	margin-bottom: 0;
	padding: 0.9rem;
	background-color: $black;
	line-height: 1;

	@include breakpoint(medium up) {
		padding: 1.65rem 1.9rem;
	}

	@include breakpoint(large up) {
		padding: 2.3rem 2rem;
	}
}

.site-logo__link {
	display: block;
}

.site-logo__img {
	width: 100%;
	max-width: 90px;

	@include breakpoint(medium up) {
		max-width: 250px;
	}
}

.site-logo svg {
	display: block;
	width: 90px;
	height: 30px;
	fill: $white;

	@include breakpoint(medium up) {
		width: 200px;
		height: 66.66px;
	}

	@include breakpoint(large up) {
		width: 100%;
		max-width: 250px;
		height: 84.66px;
	}

	.site-logo--footer & {
		width: 100px;
		height: 33.33px;

		@include breakpoint(medium up) {
			width: 208px;
			height: 69.33px;
		}
	}

	.site-logo--header-plain & {
		width: 100px;
		height: 33.33px;
	}

	.site-logo--footer-plain & {
		width: 100px;

		@include breakpoint(large up) {
			width: 210px;
		}
	}
}

.site-logo--footer {
	max-width: 150px;
	padding: 0;

	@include breakpoint(medium up) {
		max-width: 200px;
		padding: 1.8rem 0;
	}
}

.site-logo--header-plain {
	padding: 1rem;
}

.site-logo--footer-plain {
	padding: 0 0 rem-calc(24);

	@include breakpoint(large up) {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
}
