.social-bar {
	position: relative;

	svg {
		display: block;
		width: auto;
		max-width: 100%;
		height: 20px;
		margin: 0 auto;
		fill: $white;
	}
}

// Opens social bar on medium screens
.social-bar__btn {
	display: none;
	height: 52px;
	background-color: $color-gallery;

	@include breakpoint(medium up) {
		display: block;
	}

	@include breakpoint(large up) {
		display: none;
	}

	&:hover {
		background-color: darken($color-gallery, 10%);
	}

	svg {
		display: block;
		width: auto;
		max-width: 100%;
		height: 20px;
		margin: 0 auto;
		fill: $color-tundora;
	}
}

.social-bar__container {
	width: 100%;

	// Social bar is hidden and opened with a button
	@include breakpoint(medium up) {
		position: absolute;
		top: 100%;
		left: -207%;
		z-index: 85;
		width: 290px;
	}

	// Social bar is always visible
	@include breakpoint(large up) {
		position: relative;
		top: auto;
		left: auto;
		max-width: 278px;
	}
}

.social-bar__wrapper {
	@include breakpoint(medium up) {
		overflow: hidden;
		max-height: 0;
		transition: max-height .5s ease;
	}

	@include breakpoint(large up) {
		max-height: 20rem;
	}

	&.is-visible {
		max-height: 20rem;
		transition: max-height .8s ease-out;
	}
}

.social-bar__list {
	@include reset-list;
	overflow: hidden;
	padding: rem-calc(8) rem-calc(16) rem-calc(16);
	background-color: $color-alabaster;

	@include breakpoint(medium up) {
		padding: rem-calc(8);
		background-color: $color-gallery;
	}

	@include breakpoint(large up) {
		padding: 0;
		background-color: transparent;
	}

	.social-bar--footer & {
		padding: 0;
		background-color: transparent;
	}
}

.social-bar__item {
	float: left;

	+ .social-bar__item {
		margin-left: 3px;
	}
}

.social-bar__link {
	display: block;
	overflow: hidden;
	width: 50px;
	padding: rem-calc(16) 0;
	background-color: $color-silver;
	transition: background .25s ease;

	.social-bar--dark & {
		background-color: $color-tundora;
	}
}

.social-bar__link--facebook:hover {
	background-color: $color-facebook;
}

.social-bar__link--twitter:hover {
	background-color: $color-twitter;
}

.social-bar__link--youtube:hover {
	background-color: $color-youtube;
}

.social-bar__link--pinterest:hover {
	background-color: $color-pinterest;
}

.social-bar__link--instagram:hover {
	background-color: $color-instagram;
}

.social-bar__link--linkedin:hover {
	background-color: $color-linkedin;
}
