.table-display,
.table-display__table {
	width: 100%
}

.table-display__row {
	display: block;
	width: 100%;
	border: 0;
	padding: 1rem 0
}

@include breakpoint(xmedium up) {
	.table-display__row {
		display: table-row;
		padding: 0
	}
}

.table-display__row.even {
	background-color: #f7f7f7
}

.table-display__row--head {
	background-color: $black
}

.table-display__column {
	padding: 0 1rem;
	display: block
}

@include breakpoint(xmedium up) {
	.table-display__column {
		padding: 1rem;
		display: table-cell
	}
	.table-display__column:first-child {
		padding: 1rem 0 1rem 2rem
	}
}

.table-display__column a {
	font-weight: 700
}

.table-display__column .label {
	display: inline;
	font-weight: 700;
	margin-right: .5rem
}

@include breakpoint(xmedium up) {
	.table-display__column .label {
		display: none
	}
}

.table-display__column--head {
	padding: 1rem;
	text-align: left;
	color: $white;
	text-transform: uppercase
}

.table-display__column--head a {
	color: $white;
	text-align: left;
	font-weight: 700
}

@include breakpoint(xmedium up) {
	.table-display__column--head a:after {
		content: "";
		display: inline-block;
		height: 16px;
		width: 10px;
		margin-left: 1rem;
		// background: url(../assets/table-sort.svg) no-repeat 50%
	}
}

.table-display__column--head.is-active a {
	color: #888b8d
}

.table-display__column--head:not(:first-child) {
	display: none
}

@include breakpoint(xmedium up) {
	.table-display__column--head:not(:first-child) {
		display: table-cell
	}
}

.table-display__column--date,
.table-display__column--type {
	display: inline-block
}
