.tabs {
	min-height: 128px;
}

.tabs__list {
	@include reset-list;
	display: block;
	margin-bottom: 1.5rem;
}

@include breakpoint(large up) {
	.tabs__list {
		display: flex;
		padding: 0 .5rem;
		border-bottom: 3px solid #bbb;
	}
}

.tabs--white {
	background: #a4343a;
	color: $white;
}

@include breakpoint(large up) {
	.tabs--white .tabs__list {
		border-bottom-color: $white;
	}
}

.tabs__item {
	display: block;
	margin-bottom: 3px;
	border: 3px solid rgba(187, 187, 187, .5);
	transition: border-color .2s ease;
	overflow: hidden;
}

@include breakpoint(large up) {
	.tabs__item {
		margin-bottom: -3px;
		margin-right: .2rem;
		border-bottom-color: transparent;
	}
}

.tabs__item.is-active,
.tabs__item[data-tab-active] {
	border-color: #bbb;
}

.tabs--white .tabs__item.is-active,
.tabs--white .tabs__item[data-tab-active] {
	border-color: $white;
}

@include breakpoint(large up) {
	.tabs__item.is-active,
	.tabs__item[data-tab-active] {
		border-bottom-color: $white;
	}
	.tabs--white .tabs__item.is-active,
	.tabs--white .tabs__item[data-tab-active] {
		border-bottom-color: #a4343a;
	}
}

.tabs__link {
	padding: 10px 20px;
	display: block;
	font-weight: 700;
	transition: color .5s ease-in;
	white-space: nowrap;
	overflow: hidden;
}

.tabs--white .tabs__link {
	color: #bbb;
}

.is-active .tabs__link,
[data-tab-active] .tabs__link {
	color: #464646;
}

.tabs--white .is-active .tabs__link,
.tabs--white [data-tab-active] .tabs__link {
	color: $white;
}

@keyframes a {
	0% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.tabs__panel {
	padding-left: 1.5rem;
	animation-name: a;
	animation-duration: 1s;
	animation-fill-mode: both;
}

.tabs__panel:after {
	content: "";
	display: table;
	clear: both;
}

@include breakpoint(xsmall up) {
	.tabs__panel {
		padding: 0;
	}
}

.tabs__panel[aria-hidden=true] {
	display: none;
}
