.tags__item,
.tags__item-padded {
	display: inline-block
}

.tags__item-padded {
	margin: 0 4px 4px 0;
	padding: 8px 11px;
	background-color: $color-alabaster;
	font-size: .9rem;
	line-height: 1.2
}

.tags--centered {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}
