.teaser {
	max-width: 430px;
	margin-right: auto;
	margin-left: auto;
	color: $color-white;
	background-color: $color-pacific-blue;

	@include breakpoint(xmedium) {
		max-width: 600px;
	}

	&.teaser--sbs {

		&.l-three-up__col,
		&.l-four-up__col {
			@include breakpoint(xmedium) {
				display: flex;
				width: 99%; // not 100% because we are using flexbox's space between on other items
				max-width: none;
			}
		}
	}
}

.teaser--pacific-blue {
	background-color: $color-pacific-blue;

	.teaser__btn {
		color: $color-pacific-blue;
	}
}

.teaser--apple-green {
	background-color: $color-apple-green;

	.teaser__btn {
		color: $color-apple-green;
	}
}

.teaser--stiletto-red {
	background-color: $color-stiletto-red;

	.teaser__btn {
		color: $color-stiletto-red;
	}
}

.teaser--midnight-blue {
	background-color: $color-midnight-blue;

	.teaser__btn {
		color: $color-midnight-blue;
	}
}

.teaser--hot-orange {
	background-color: $color-hot-orange;

	.teaser__btn {
		color: $color-hot-orange;
	}
}

.teaser:nth-child(3n+1) {
	background-color: $color-pacific-blue;

	.teaser__btn {
		color: $color-pacific-blue;
	}
}

.teaser:nth-child(3n+2) {
	background-color: $color-apple-green;

	.teaser__btn {
		color: $color-apple-green;
	}
}

.teaser:nth-child(3n) {
	background-color: $color-stiletto-red;

	.teaser__btn {
		color: $color-stiletto-red;
	}
}

.l-grid--four-colors .teaser:nth-child(4n+1) {
	background-color: $color-pacific-blue;

	.teaser__btn {
		color: $color-pacific-blue;
	}
}

.l-grid--four-colors .teaser:nth-child(4n+2) {
	background-color: $color-apple-green;

	.teaser__btn {
		color: $color-apple-green;
	}
}

.l-grid--four-colors .teaser:nth-child(4n+3) {
	background-color: $color-midnight-blue;

	.teaser__btn {
		color: $color-midnight-blue;
	}
}

.l-grid--four-colors .teaser:nth-child(4n) {
	background-color: $color-stiletto-red;

	.teaser__btn {
		color: $color-stiletto-red;
	}
}

.teaser__link {
	border-bottom: 1px solid transparent;
	color: $color-white;
	transition: border-bottom .25s ease;
}

.teaser__link:active,
.teaser__link:hover {
	border-bottom: 1px solid rgba(255, 255, 255, .9);
	color: $color-white;
	text-decoration: none;
}

.teaser--sbs .teaser__img {
	flex: 1 1 auto;
}

.teaser__img {
	display: block;
}

.teaser__img-link {
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	background-color: $color-silver;

	img {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
	}
}

.teaser__content {
	padding: 1rem 1rem 1.25rem;
}

@include breakpoint(xsmall) {

	.teaser__content {
		padding: 1.5rem 1.5rem 1.75rem;
	}
}

@include breakpoint(xmedium) {

	.teaser__content {
		padding: 2rem 2rem 2.25rem;
	}
}

.teaser--sbs .teaser__content {
	flex: 0 1 auto;
}

@include breakpoint(xmedium) {

	.teaser--sbs .teaser__content {
		flex: 0 1 40%;
	}
}

@include breakpoint(large) {

	.teaser--sbs .teaser__content {
		flex: 0 1 34%;
	}
}

.teaser__heading {
	margin-bottom: .5rem;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1.3;
}

@include breakpoint(medium) {

	.teaser__heading {
		margin-bottom: .8rem;
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 1.2;
	}
}

@include breakpoint(large) {

	.teaser__heading {
		margin-bottom: 1rem;
		font-size: 1.8rem;
		line-height: 1.1;
	}
}

.teaser__desc,
.teaser__editor-content {
	margin-bottom: .5rem;
	font-size: .9rem;
	line-height: 1.4;
}

@include breakpoint(xsmall) {
	.teaser__desc,
	.teaser__editor-content {
		margin-bottom: 1.2rem;
	}
}

@include breakpoint(medium) {

	.teaser__desc,
	.teaser__editor-content {
		font-size: 1rem;
		letter-spacing: .05em;
		line-height: 1.5;
	}
}

@include breakpoint(large) {

	.teaser__desc,
	.teaser__editor-content {
		font-size: 1.13rem;
		line-height: 1.4;
	}
}

.teaser__editor-content {

	ul {
		padding: 0 2em;
		list-style-type: disc;
	}
}

.teaser__btn {
	display: none;
}

@include breakpoint(medium) {
	.teaser__btn {
		display: inline-block;
	}
}

.teaser--mobile-btn .teaser__btn {
	display: inline-block;
}

.teaser__file-size,
.teaser__file-type {
	display: inline-block;
	text-transform: uppercase;
}

.teaser__file-size {
	margin-right: 1rem;
}

.teaser__file-desc {
	margin-bottom: 1.5rem;
}

@include breakpoint(xmedium) {
	.teaser__file-desc {
		margin-bottom: 3rem;
	}
}

.teaser__team-info {
	margin-bottom: 1rem;

	.teaser__team-position {
		margin-top: rem-calc(-10);
		margin-bottom: rem-calc(10);
	}
}

.teaser__event-info {
	margin-bottom: 1rem;
}

.teaser__event-desc {
	margin-bottom: .1rem;
	font-size: 1.1rem;
	line-height: 1.4;
}