.video {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;

	.video--constrained {
		max-width: 765px;
	}

	.icon {
		position: absolute;
		top: calc(50% - 40px);
		left: calc(50% - 40px);
		display: block;
		width: rem-calc(80);
		height: rem-calc(80);
		fill: $color-white;
		transition: opacity 0.25s ease-out;
		filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));

		@include breakpoint(medium) {
			top: calc(50% - 52px);
			left: calc(50% - 52px);
			width: rem-calc(122);
			height: rem-calc(122);
		}

	}

	&:hover .icon {
		opacity: 0.9;
	}
}

.video__img {
	position: relative;
	background-color: $color-silver;
}

.video__img img,
.video__link {
	display: block;
}

.video__link {
	position: relative;
	z-index: 1;
	opacity: 1;
	transition: opacity 1.5s ease;
}

.video-is-active .video__link {
	opacity: 0;
}

.video__iframe-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 0;
	padding-top: 50%;
	transition: z-index .1s ease 1.8s;
}

.video--16x9 .video__iframe-container {
	padding-top: 56.25%;
}

.video-is-active .video__iframe-container {
	z-index: 3;
}

.video__iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video__caption {
	margin-top: .32rem;
	font-size: .9rem;
}

@include breakpoint(medium up) {

	.video__caption {
		margin-top: .8rem;
		font-size: 1rem;
	}
}
