.footer .widget_nav_menu {
	display: block;
	padding: 0.3rem 0;
	color: $white;
	font-weight: 700;
	font-size: 0.8rem;
	letter-spacing: 0.05em;

	a {
		display: block;
		padding: 0.3rem 0;
		color: $white;
		font-weight: 400;
		font-size: 0.8rem;
		letter-spacing: 0.05em;

		@include breakpoint(medium up) {
			padding-right: 0.5rem;
			padding-left: 0.5rem;
		}

		&:hover {
			color: $anchor-color-hover;
		}
	}

	ul ul {
		margin-left: 1rem;
	}

	li {
		flex: 1 1 auto;

	}
}
