/**
 *
 * Creates a four-column layout using flexbox.
 *
 * The columns stack below breakpoint medium (~704px).
 * Between breakpoints medium (~704px) and breakpoint xmedium (~880px) the display shifts to a 2x2 grid.
 *
 */

.l-four-up {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	@include breakpoint(xsmall up) {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 1.1rem;
	}
}

.l-four-up__col {
	width: 100%;
	margin-bottom: 0.8rem;

	@include breakpoint(xsmall up) {
		width: 48.8%;
		margin-bottom: 1rem;
	}

	@include breakpoint(xmedium up) {
		width: 24.2%;
	}
}
