/**
 *
 * Create a dynamic 1, 2, 3 or 4 column grid.
 *
 * Modifiers:
 * .l-grid--clean : Modifier to remove bottom margins on each column.
 * .l-grid--space-between : Use space between instead of margins for gutters. This is useful for mixed width columns.
 *
 */

.l-grid {
	@include breakpoint(medium up) {
		display: flex;
		flex-wrap: wrap;

		&.l-grid--space-between {
			justify-content: space-between;
		}
	}
}

.l-grid__col {
	width: 100%;
	margin-bottom: 0.8rem;

	@include breakpoint(xsmall up) {
		margin-bottom: 1.1rem;

		.l-grid--clean & {
			margin-bottom: 0;
		}
	}

}

.l-grid__col-half {
	@include breakpoint(medium up) {
		width: 49.2%;
		margin-right: 1.6%;

		.l-grid--space-between &,
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
}


.l-grid__col-third {
	@include breakpoint(medium up) {
		width: 49.2%;
		margin-right: 1.6%;

		.l-grid--space-between &,
		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	@include breakpoint(xmedium up) {
		width: 32.2%;
		margin-right: 1.7%;

		&:nth-child(2n) {
			margin-right: 1.7%;
		}

		.l-grid--space-between &,
		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
}

.l-grid__col-fourth {
	@include breakpoint(medium up) {
		width: 49.2%;
		margin-right: 1.6%;

		.l-grid--space-between &,
		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	@include breakpoint(xmedium up) {
		width: 23.725%;
		margin-right: 1.7%;

		&:nth-child(2n) {
			margin-right: 1.7%;
		}

		.l-grid--space-between &,
		&:nth-of-type(4n) {
			margin-right: 0;
		}
	}
}
