/**
 *
 * Add margin above or below a container. By default margin is added to the bottom.
 *
 * Modifiers:
 * .l-margin--top : By default there's no margin added to the top. Add top margin using this modifier.
 * .l-margin--2x : More margin size.
 * .l-margin--3x : Even more margin size.
 *
 */

.l-margin {
	margin-bottom: 1.5rem !important;
}

.l-margin--2x {
	margin-bottom: 1.6rem !important;

	@include breakpoint(xsmall up) {
		margin-bottom: 2.2rem !important;
	}
}

.l-margin--3x {
	margin-bottom: 2.4rem !important;

	@include breakpoint(xsmall up) {
		margin-bottom: 3.3rem !important;
	}
}

.l-margin--top {
	margin-top: 1.5rem !important;
}

.l-margin--top2x {
	margin-top: 1.6rem !important;

	@include breakpoint(xsmall up) {
		margin-top: 2.2rem !important;
	}
}

.l-margin--top3x {
	margin-top: 2.4rem !important;

	@include breakpoint(xsmall up) {
		margin-top: 3.3rem !important;
	}
}
