/**
 *
 * This layout is used on the Stories content type.
 *
 */

.l-offset-2 {
	@include clearfix;
}

.l-offset-2__left-column {
	display: block;
	float: right;
	clear: right;
	width: 100%;

	@include breakpoint(large up) {
		float: left;
		clear: left;
		width: 15%;
	}
}

.l-offset-2__right-column {
	display: block;
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 1.1rem;

	@include breakpoint(large up) {
		float: right;
		clear: right;
		width: 85%;
		margin-bottom: 0;
		padding: 0 9.8% 0 1.2%;
	}
}

.l-offset-2__inner {
	@include breakpoint(large up) {
		float: right;
		clear: right;
		width: 88.63%;
	}
}

.l-offset-2__inner--left {
	@include breakpoint(xmedium up) {
		float: left;
		clear: left;
		width: 88.86%;
	}
}

[class*=l-offset-2__inner] + [class*=l-offset-2__inner] {
	margin-top: 2rem
}
