/**
 *
 * Add padding around a container so it's not full width. Uses padding on the sides by default.
 *
 * Modifiers:
 * .l-padded--top : By default there's no padding added to the top. Add top padding using this modifier.
 * .l-padded--bottom : By default there's no padding added to the bottom. Add bottom padding using this modifier.
 *
 */

.l-padded {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.l-padded--top {
	padding-top: 1.5rem;
}

.l-padded--bottom {
	padding-bottom: 1.5rem;
}
