/**
 *
 * Creates a three-column layout using flexbox. The columns stack below breakpoint xmedium (~880px).
 *
 */

.l-three-up {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	@include breakpoint(xsmall up) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.l-three-up__col {
	width: 100%;
	margin-bottom: 0.8rem;

	@include breakpoint(xsmall up) {
		width: 48.8%;
		margin-bottom: 1rem;
	}

	@include breakpoint(xmedium up) {
		width: 32.2%;
	}
}
