/**
 *
 * Creates a two-column layout using flexbox
 *
 * Modifiers:
 * .l-two-up--30-70 : Two column layout with left column is 30% wide
 * .l-two-up--70-30 : Two column layout with left column is 70% wide
 *
 */

.l-two-up {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	@include breakpoint(xsmall up) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.l-two-up__col {
	width: 100%;
	margin-bottom: 0.8rem;

	@include breakpoint(xsmall up) {
		width: 49%;
		margin-bottom: 1rem;
	}
}

.l-two-up--30-70 {
	.l-two-up__col:first-child {
		@include breakpoint(xmedium up) {
			width: 29%;
		}
	}

	.l-two-up__col:nth-child(2) {
		@include breakpoint(xmedium up) {
			width: 69%;
		}
	}

}

.l-two-up--70-30 {
	.l-two-up__col:first-child {
		@include breakpoint(xmedium up) {
			width: 69%;
		}
	}

	.l-two-up__col:nth-child(2) {
		@include breakpoint(xmedium up) {
			width: 29%;
		}
	}
}
