/**
 *
 * Split-65-35 is a two-column layout in which the left column is 65% and the right column is 35%.
 *
 */

.split-65-35 {
	display: flex;
	flex-direction: column;
	padding: 0 0.8rem;

	@include breakpoint(large up) {
		flex-direction: row;
		justify-content: space-between;
		padding: 1.8125rem 0;
	}
}

.split-65-35__left-column {
	flex: 1 0 auto;
	margin-bottom: 0.8rem;

	@include breakpoint(xsmall up) {
		margin-bottom: 1.1rem;
	}

	@include breakpoint(xmedium up) {
		margin: 0;
		padding: 0 6.25rem;
	}

	@include breakpoint(large up) {
		flex: 0 1 67%;
		padding: 0 0 0 6.25rem;
	}
}

.split-65-35__right-column {
	flex: 1 0 auto;
	padding-top: 1rem;

	@include breakpoint(xmedium up) {
		padding: 1rem 4.06rem 0 6.25rem;
	}

	@include breakpoint(large up) {
		flex: 0 1 30%;
	}
}
