blockquote {
	background-color: #f7f7f7;
	padding: 1.5rem;
	margin: 1rem 0;

	@include breakpoint(large up) {
		width: 100%;
		margin: 2.5rem 0;
		padding: 2.5rem;
	}

	.mce-tinymce & {
		margin-left: 0;
	}
}

blockquote p {
	font-size: 1.7rem;
	line-height: 1.2;
	margin: 0;
}




blockquote cite {
	display: block;
	margin-top: 1rem;
	font-size: .9rem;
	color: #6c6c6c;
}

@include breakpoint(xmedium up) {
	blockquote cite {
		font-size: 1rem;
		margin-top: 2rem;
	}
}

blockquote cite a {
	color: inherit;
}
