.btn {
	display: inline-block;
	vertical-align: middle;
	padding: .85em 1em;
	border: 1px solid transparent;
	border-radius: 0;
	background-color: $color-alto;
	font-weight: $global-weight-bold;
	font-size: rem-calc(16);
	line-height: 1;
	text-align: center;
	transition: background-color .25s ease-out, color .25s ease-out;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $color-gallery;
	}

	&.is-disabled,
	&:disabled {
		border: 3px solid $color-silver;
		color: $color-tundora;
		background-color: $color-gallery;
		opacity: .5;
		cursor: not-allowed;
	}
}

.btn--primary {
	padding: .55em 1.2em;
	border: 3px solid $color-white;
	border-radius: 3px;
	color: $primary-color;
	background-color: $color-white;

	&:active,
	&:hover,
	&:focus {
		color: $primary-color;
		background-color: rgba(255, 255, 255, .85);
		text-decoration: none;
	}
}

.btn--secondary {
	padding: .55em 1.2em;
	border: 3px solid $color-alto;
	border-radius: 3px;
	color: $primary-color;
	background-color: $color-white;
	transition: border-color .25s ease;

	&:active,
	&:hover,
	&:focus {
		border-color: $color-silver;
		color: $primary-color;
		background-color: $color-white;
		text-decoration: none;
	}
}


.btn--reversed {
	height: 45px;
	padding: .8rem 1.1rem;
	color: $color-white;
	background-color: $primary-color;
	font-weight: 500;
	letter-spacing: .05em;
	transition: background-color .25s ease;

	&:active,
	&:hover,
	&:focus {
		background-color: #0086b3;
		text-decoration: none;
	}
}


.btn--donate {
	padding: .88em 2em;
	color: $color-white;
	background-color: $color-hot-orange;
	font-weight: 700;
	font-size: 1.13rem;
	text-transform: uppercase;

	&:active,
	&:hover,
	&:focus {
		color: inherit;
		background-color: $color-rio-grande;
		text-decoration: none;
	}
}

.btn--form-cta {
	height: 51px;
	border: 2px solid $white;
	border-radius: 2px;
	white-space: nowrap;
	background-color: #FFF;

	.form-cta--donate & {
		color: $color-hot-orange;
	}

	.form-cta--subscribe & {
		color: $color-midnight-blue;
	}

	.form-cta--participate & {
		color: $color-stiletto-red;
	}

	&:hover {
		background-color: $color-gallery;
	}
}

.btn--large {
	padding: .75em 1.8em;
	font-size: 1.13rem;
}

.btn--xlarge {
	padding: .75em 3em;
	font-size: 1.5rem;
}

.btn--centered {
	display: block;
	margin: 0 auto;
}

.btn--social {
	margin-right: rem-calc(10);

	&:hover {
		opacity: 0.7;
	}

	.icon {
		width: auto;
		height: auto;
		fill: $white;
	}
}

.btn--outlined {
	padding: rem-calc(10) rem-calc(25);
	border: 3px solid $color-white;
	color: $color-white;
	background-color: transparent;

	&:active,
	&:hover,
	&:focus {
		color: $color-white;
		background-color: rgba(0, 0, 0, 0.1);
	}
}
