.facetwp-facet {
	display: flex;
	flex-wrap: wrap;
}

.facetwp-radio-input {
	display: inline-block;
	padding: rem-calc(5) 0;
	cursor: pointer;
}

.facetwp-radio,
.facetwp-radio-reset {
	position: relative;
	width: 100%;
	margin: rem-calc(10) 0;
	background: none;

	@include breakpoint(medium up) {
		width: 48%;
	}


	&:hover .facetwp-radio-icon:before,
	&.checked .facetwp-radio-icon:before {
		background-color: #FFF;
	}
}

.facetwp-radio-reset {
	@include breakpoint(medium up) {
		width: 100%;
	}
}

// Radio checkbox border
.facetwp-radio-icon {
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	margin-top: .18rem;
	margin-right: .7rem;
	border: 3px solid #FFF;
	border-radius: 50%;
	transition: border-color .5s ease;

	&:before {
		position: absolute;
		top: 3px;
		left: 3px;
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		content: "";
		background-color: transparent;
		transition: background-color .25s ease;
	}
}

// Loading icon
.facetwp-loading {
	position: relative;
	left: 1rem;
	width: 1em;
	height: 1em;
	margin: 50px auto;
	border-radius: 50%;
	color: $black;
	font-size: rem-calc(5);
	text-indent: -9999em;
	animation: icon-ajax-load 1.3s infinite linear;
	transform: translateZ(0);
}
