/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.media {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	@include breakpoint(large up) {
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}
}

// Move media block little left
.media:not(.aligncenter) {
	.basic-text & {
		@include breakpoint(large up) {
			margin-left: -10%;
		}
	}
}

.media img {
	display: block;
	margin-bottom: .32rem;

	@include breakpoint(medium up) {
		margin-bottom: .8rem;
	}
}

.media__caption {
	max-width: 100%;
	color: $color-tundora;
	font-size: .95rem;
	word-wrap: break-word;
}

