.aside {
	display: flex;
	flex-direction: column;

	@include breakpoint(xmedium) {
		flex-direction: row;
		justify-content: space-between;
	}
	@include breakpoint(large) {
		flex-direction: column;
	}
}

.aside__section {
	margin-bottom: 2rem;

	ul {
		padding-left: 1rem;
	}

	li {
		color: $color-tundora;
		list-style-type: disc;

		a {
			color: $color-pacific-blue;
		}
	}
}

.aside__heading {
	margin-bottom: 0;
	font-size: 1rem;
}

.aside__other li:last-child {
	font-style: italic;
}
