/*
	Global widget styles.
	For specific widget and it's styles, create another scss file.
*/

.footer {
	.widget_text {
		padding: 0.5rem 0;
		color: $white;
		font-size: 0.8rem;

		@include breakpoint(medium up) {
			padding-right: 0.5rem;
			padding-left: 0.5rem;
		}
	}

}

.widget_nav_menu {
	.menu {
		@include reset-list;
	}
}
